/*
 * Theme Name: BuzzDrives.com
 * Author Name: GDM WEBMEDIA
 *
 */

/* FONTS - start */
@font-face {
  font-family: 'mashsb-font';
  src: url('fonts/mashsb-font.eot?3442747');
  src: url('fonts/mashsb-font.eot?3442747#iefix') format('embedded-opentype'),
       url('fonts/mashsb-font.woff?3442747') format('woff'),
       url('fonts/mashsb-font.ttf?3442747') format('truetype'),
       url('fonts/mashsb-font.svg?3442747#mashsb-font') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* FONTS - end */


/* -------------------------- Ajusted Layout Overwrites ------------------------------------------ */

#header #header-logo-inner{
	position: initial;
}
/*
#header #header-search{
	display: none;
}
*/
#header #nav{
	padding-left: 140px;
}
#header #header-logo-inner:before, 
#header #header-logo-inner:after, 
#header #header-logo-round:before, 
#header #header-logo-round:after, 
#header .pp-logo-inner:before, 
#header .pp-logo-inner:after, 
#header .pp-logo-round:before, 
#header .pp-logo-round:after{
	display: none;
}
#header #header-logo-inner{
	padding: 0;
}
#header #header-logo a{
    max-width: 150px;
    position: absolute;
    top: 7px;
    left: 7px;
}
#single .post-content p{
	font-size: 18px;
}
#single .post-content h3{
    font-size: 36px;
}
#single .post-title{
    font-size: 44px;
    margin-top: 0;
}
/*
#nav ul li:last-child{
	display: none;   
}
*/
#nav li:nth-child(5):after{
 display: none;   
}
#header-logo>.container,
#header-logo #header-logo-inner{
	position:initial !important;
}
#header-logo>.container{
	line-height: 0;
}
#header #nav-mobile{
	line-height: 20px;
}
#header #header-logo{
	padding-bottom: 20px;
}
#header-logo #header-ad-inner{
	padding-top: 20px;
}

@media (min-width: 1110px){
	#header-logo #header-ad-inner{
		float: none;
	}
}

@media (max-width: 992px){
	#header-logo #header-ad-inner{
		margin-top: 0;
		margin-bottom: 10px;
	}
}

@media (max-width: 767px){
	#header #header-logo #nav-mobile a{
		position: initial;
		max-width: initial;
	}
	#header #mobile-menu-btn{
		margin-right: 0;
		margin-left: auto;
	}
	#header #header-logo-inner{
	    margin-right: 0;
    	margin-left: auto;
    	padding-top: 0;
    	padding-bottom: 0;
	}
	#header-logo #header-ad-inner{
		margin-bottom: 0px;
	}
}

@media (min-width: 767px){
	#header #header-logo-inner, #header .pp-logo-inner{
		background: none;
	}
}

@media (max-width: 480px){
    #single .post-title{
    	font-size: 30px;
    }
}



/* -------------------------- END Ajusted Layout Overwrites ------------------------------------------ */




/* GENERAL STYLES - start */
html body {	
	text-rendering: optimizeLegibility; /* optional: for older browsers */
	-webkit-font-variant-ligatures: common-ligatures; /* for iOS and Safari 6 */
	font-variant-ligatures: common-ligatures; /* for up-to-date browsers, including IE10 and Opera 21 */
	-webkit-font-smoothing: antialiased;
	
	position: relative;
	-ms-overflow-x: hidden;
	overflow-x: hidden;
	color: #333;
	background: white;
}
#main-gradient {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 230px;
	z-index: -1;
  
	/* gradient - start */
	background: #e6e6e6;
	background: -moz-linear-gradient(top,  #e6e6e6 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6e6e6), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top,  #e6e6e6 0%,#ffffff 100%);
	background: -o-linear-gradient(top,  #e6e6e6 0%,#ffffff 100%);
	background: -ms-linear-gradient(top,  #e6e6e6 0%,#ffffff 100%);
	background: linear-gradient(to bottom,  #e6e6e6 0%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#ffffff',GradientType=0 );
	/* gradient - end */
}
.tb {
	border: 1px solid red;
}
.right-block {
	display: block;
	margin-left: auto;
	margin-right: 0;
}
.left-block {
	display: block;
	margin-left: 0;
	margin-right: auto;
}
.fill {
	width: 100%;
/* 	min-width: 100%;
	min-height: 100%; */
}
.il { /* inherit link */
	color: inherit;
	font-size: inherit;
	text-decoration: inherit;
}
.il:focus,
.il:hover,
.il:active {
	color: inherit;
	text-decoration: inherit;
}
/* BASIC GRID - start */
#aside {
	width: 330px;
	max-width: 330px;
	float: right;
	padding: 49px 15px;
	text-align: center;
}
#single #aside {
	padding-top: 26px;
}
#content-with-aside {
	float: left;
	padding: 0 15px;
}
/* BASIC GRID - end */
.mb15 { margin-bottom: 15px; }

#popunder-page-title {
    font-weight: bold;
    margin: 10px auto;
    font-size: 32px;
    padding-bottom: 5px;
    text-align: center;
    color: #000;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
/* GENERAL STYLES - end */
 
/* HEADER - start */
/* header nav - start */
#header-nav-wrapper {
	position: relative;
	
	/* gradient - start */
	background: #2E2E2E;
	background: -moz-linear-gradient(top,  #424242 0%, #2e2e2e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#424242), color-stop(100%,#2e2e2e));
	background: -webkit-linear-gradient(top,  #424242 0%,#2e2e2e 100%);
	background: -o-linear-gradient(top,  #424242 0%,#2e2e2e 100%);
	background: -ms-linear-gradient(top,  #424242 0%,#2e2e2e 100%);
	background: linear-gradient(to bottom,  #424242 0%,#2e2e2e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424242', endColorstr='#2e2e2e',GradientType=0 );
	/* gradient - end */
}
#nav {
	float: left;
}
#nav ul,
#nav-mobile ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#nav ul li {
	float: left;
	position: relative;
	padding: 0 28px 0 20px;
}
#nav li:after {
	content: "";
	position: absolute;
	display: block;
	width: 8px;
	height: 8px;
	top: 50%;
	margin-top: -4px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	right: 0;
	
	/* gradiend - start */
	background: #656565;
	background: -moz-linear-gradient(top,  #656565 0%, #f4f4f4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#656565), color-stop(100%,#f4f4f4));
	background: -webkit-linear-gradient(top,  #656565 0%,#f4f4f4 100%);
	background: -o-linear-gradient(top,  #656565 0%,#f4f4f4 100%);
	background: -ms-linear-gradient(top,  #656565 0%,#f4f4f4 100%);
	background: linear-gradient(to bottom,  #656565 0%,#f4f4f4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#656565', endColorstr='#f4f4f4',GradientType=0 );
	/* gradiend - end */
}
#nav li:last-child:after {
	display: none;
}
#nav a,
#nav-mobile a {
	color: #F0594A;
	padding: 10px 2px;
	display: block;
	font-weight: bold;
	text-transform: uppercase;
}
#mobile-menu-btn {
	border: 0;
	height: 32px;
	margin: 4px auto;
	padding: 6px 10px;
	text-transform: uppercase;
	color: #2E2E2E;
	font-weight: bold;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	line-height: 20px;
	cursor: pointer;
	outline: 0;
	
	/* gradient - start */
	background: #edb6a3;
	background: -moz-linear-gradient(top,  #edb6a3 0%, #e64f36 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#edb6a3), color-stop(100%,#e64f36));
	background: -webkit-linear-gradient(top,  #edb6a3 0%,#e64f36 100%);
	background: -o-linear-gradient(top,  #edb6a3 0%,#e64f36 100%);
	background: -ms-linear-gradient(top,  #edb6a3 0%,#e64f36 100%);
	background: linear-gradient(to bottom,  #edb6a3 0%,#e64f36 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edb6a3', endColorstr='#e64f36',GradientType=0 );
	/* gradient - end */
}
#mobile-menu-btn.open,
#mobile-menu-btn:active {
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
	-moz-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
	box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}
#nav-mobile {
	display: none;
}
#nav-mobile ul {
	margin-bottom: 15px;
}
#nav-mobile a {
	display: inline-block;
	padding: 8px;
}
/* header nav - end */

/* header search - start */
#header-search {
	width: 240px;
	display: block;
	float: right;
}
#header-search.mobile_search {
	float: none !important;
	margin: 0 auto !important;
}
#header-search #searchsubmit {
	background: transparent;
	border: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #F0594A;
	display: block;
	float: left;
	width: 40px;
	height: 40px;
	outline: 0;
}
#header-search #s-wrapper {
	display: block;
	width: 180px;
	height: 26px;
	margin-top: 7px;
	float: left;
	background: transparent;
}
#header-search #s-wrapper.show {
	background-color: #ffffff;
	zoom: 1;
	background-color: transparent\9;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33ffffff, endColorstr=#33ffffff)";
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33ffffff, endColorstr=#33ffffff);
	background-color: rgba(255, 255, 255, 0.2);
	
    -webkit-transition: background-color 250ms ease-out;
    -moz-transition: background-color 250ms ease-out;
    -o-transition: background-color 250ms ease-out;
    transition: background-color 250ms ease-out;
}
#header-search #s {
	width: 100%;
	height: 26px;
	border: 0;
	background: transparent;
	color: white;
	outline: 0;
	padding: 3px 5px;
	font-weight: bold;
	overflow: hidden;
	position: relative;
	text-overflow: ellipsis;
}
#header-search #s::-webkit-input-placeholder { color: white; opacity: 1; }
#header-search #s::-moz-placeholder { color: white; opacity: 1; }
#header-search #s:-ms-input-placeholder { color: white; opacity: 1; }
#header-search #s:-moz-placeholder { color: white; opacity: 1; }
/* header search - end */

/* header logo - start */
#header-logo {
	text-align: center;
	padding-bottom: 10px;
}
#header-logo-inner,
.pp-logo-inner {
	display: inline-block;
	padding: 6px 12px;
	-webkit-border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
	position: relative;
	
	/* gradient - start */
	background: #2E2E2E;
	background: -moz-linear-gradient(top,  #2e2e2e 0%, #000000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2e2e2e), color-stop(100%,#000000));
	background: -webkit-linear-gradient(top,  #2e2e2e 0%,#000000 100%);
	background: -o-linear-gradient(top,  #2e2e2e 0%,#000000 100%);
	background: -ms-linear-gradient(top,  #2e2e2e 0%,#000000 100%);
	background: linear-gradient(to bottom,  #2e2e2e 0%,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e2e2e', endColorstr='#000000',GradientType=0 );
	/* gradient - end */
}
#header-logo-inner:before,
#header-logo-inner:after,
#header-logo-round:before,
#header-logo-round:after,
.pp-logo-inner:before,
.pp-logo-inner:after,
.pp-logo-round:before,
.pp-logo-round:after {
	content: "";
	display: block;
	width: 10px;
	height: 10px;
	background: #2E2E2E;
	position: absolute;
	top: 0;
}
#header-logo-inner:before,
#header-logo-round:before,
.pp-logo-inner:before,
.pp-logo-round:before {
	right: 100%;
}
#header-logo-inner:after,
#header-logo-round:after,
.pp-logo-inner:after,
.pp-logo-round:after {
	left: 100%;
}
#header-logo-round:before,
#header-logo-round:after,
.pp-logo-round:before,
.pp-logo-round:after {
	background: rgb(235, 235, 235);
	z-index: 1;
}
#header-logo-round:before,
.pp-logo-round:before {
	-webkit-border-radius: 0 100% 0 0;
	-moz-border-radius: 0 100% 0 0;
	border-radius: 0 100% 0 0;
}
#header-logo-round:after,
.pp-logo-round:after {
	-webkit-border-radius: 100% 0 0 0;
	-moz-border-radius: 100% 0 0 0;
	border-radius: 100% 0 0 0;
}
#header-logo a {
	display: block;
}
/* header logo - end */

/* header ad - start */
#header-ad {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 5px;
	display: none;
}
#header-ad-inner {
	display: inline-block;
}
/* header ad - end */
/* HEADER - end */

/* FOOTER - start */
#footer-inner {
	padding: 40px 0 35px;
	
	/* gradient - start */
	background: #424242;
	background: -moz-linear-gradient(top,  #424242 0%, #000000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#424242), color-stop(100%,#000000));
	background: -webkit-linear-gradient(top,  #424242 0%,#000000 100%);
	background: -o-linear-gradient(top,  #424242 0%,#000000 100%);
	background: -ms-linear-gradient(top,  #424242 0%,#000000 100%);
	background: linear-gradient(to bottom,  #424242 0%,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424242', endColorstr='#000000',GradientType=0 );
	/* gradient - end */
}
#footer-logo-wrapper {
	padding-bottom: 25px;
	text-align: center;
}
#footer-logo-wrapper a {
	display: inline-block;
}
#footer-menu {
}
#footer-menu ul li {
	padding: 0 2% 10px;
}
#footer-menu a {
	text-transform: uppercase;
	color: white;
	font-weight: bold;
}
/* FOOTER - end */

/* Glomex player - start */
.responsive-glomex-container {
	 position: relative;
	 padding-bottom: 56.25%;
	 padding-top: 75px;
	 height: 0;
}
.responsive-glomex-container iframe {
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 border: 0;
}
/* Glomex player - end */

/* HOMEPAGE - start */
/* featured posts - start */
#home .fp {
	float: left;
	overflow: hidden;
	position: relative;
}
#home .fp-big {
	width: 720px;
	height: 480px;
	border-bottom: 1px solid transparent;
}
#home .fp-small {
	width: 360px;
	height: 240px;
	border-left: 1px solid transparent;
	border-bottom: 1px solid transparent;
}
#home .fp img {
	width: 100%;

	-webkit-transition: -webkit-transform .5s ease-in-out;
	-moz-transition: -moz-transform .5s ease-in-out;
	-ms-transition: -ms-transform .5s ease-in-out;
	-o-transition: -o-transform .5s ease-in-out;
	transition: transform .5s ease-in-out;
}
#home .fp:hover img {
	-webkit-transform: scale(1.15); 
	-moz-transform: scale(1.15);
	-ms-transform: scale(1.15);
	-o-transform: scale(1.15);
	transform: scale(1.15);
}
#home .fp .fp-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
#home .fp .fp-overlay:before {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 50%;
	left: 0;
	bottom: 0;
	-webkit-transition: height .5s ease-in-out;
	-moz-transition: height .5s ease-in-out;
	-ms-transition: height .5s ease-in-out;
	-o-transition: height .5s ease-in-out;
	transition: height .5s ease-in-out;
	
	/* gradient - start */
	background: transparent;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(30%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
	/* gradient - end */
}
#home .fp:hover .fp-overlay:before {
	height: 100%;
}
#home .fp .fp-text {
	position: absolute;
	left: 0;
	bottom: 0;
	color: white;
	padding: 0 15px;
	width: 100%;
}
#home .fp-text h2 {
	text-align: center;
	text-transform: uppercase;
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 28px;
}
#home .fp-text p {
	/* DO BE DONE */
}
#home .fp-big .fp-text h2 {
	font-size: 22px;
}
#home .fp-small .fp-text h2 {
	font-size: 12px;
}
#home .fp-label {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 82px;
	height: 82px;
	border: 0;
	background: transparent;
}
#home .fp-label-triangle {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	top: 0;
	left: 0;
	border-top: 41px solid #DE4626;
	border-left: 41px solid #DE4626;
	border-right: 41px solid transparent;
	border-bottom: 41px solid transparent;
}
#home .fp-label .fp-label-text {
	color: white;
	font-size: 12px;
	line-height: 1;
	font-weight: bold;
	width: 82px;
	height: 82px;
	text-align: center;
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -41px;
	word-spacing: 82px; /* workaround to force one word per line */
	
	/* rotate - start */
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=0.7071067811865475, M21=-0.7071067811865475, M22=0.7071067811865476);
	zoom: 1;
	/* rotate - end */
}
/* featured posts - end */

/* all articles - start */
#all-articles {
	padding: 0 0 40px;
}
#all-articles .hp-article.odd {
	clear: left;
}
#all-articles h3 {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 15px;
	color: #4D4D4D;
}
#all-articles .article-top,
#all-articles .article-image {
	width: 100%;
	height: 175px;
	position: relative;
	overflow: hidden;
}
#all-articles .article-top {
	margin-bottom: 10px;
}
#all-articles .article-image {
	text-align: center;
	line-height: 175px;
	vertical-align: middle;
}
#all-articles .article-image img {
	min-width: 100%;
	min-height: 100%;
	max-width: none;
	max-height: none;
	position: relative;
	display: inline-block;
	margin: -100%;
	-webkit-transition: -webkit-transform .5s ease-in-out;
	-moz-transition: -moz-transform .5s ease-in-out;
	-ms-transition: -ms-transform .5s ease-in-out;
	-o-transition: -o-transform .5s ease-in-out;
	transition: transform .5s ease-in-out;
}
#all-articles .article-image:hover img {
	-webkit-transform: scale(1.15);
	-moz-transform: scale(1.15);
	-ms-transform: scale(1.15);
	-o-transform: scale(1.15);
	transform: scale(1.15);
}
#all-articles .article-cat {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border-top: 5px solid #F0594A;
	text-align: center;
}
#all-articles .article-cat-inner {
	display: inline-block;
	background: #F0594A;
	position: relative;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}
#all-articles .article-cat-inner .round-top-left,
#all-articles .article-cat-inner .round-top-right {
	pointer-events: none;
	display: block;
	z-index: 1;
	position: absolute;
	height: 20px;
	width: 20px;
	overflow: hidden;
	top: -5px;
}
#all-articles .article-cat-inner .round-top-left:before,
#all-articles .article-cat-inner .round-top-right:before {
	content: '';
	z-index: 1;
	position: absolute;
	top: 0;
	height: 30px;
	width: 30px;
	background: transparent;
	border: 5px solid #F0594A;
}
#all-articles .article-cat-inner .round-top-left {
	right: 100%;
	margin-right: -5px;
}
#all-articles .article-cat-inner .round-top-left:before {
	right: 0;
	-webkit-border-top-right-radius: 10px;
	-moz-border-top-right-radius: 10px;
	border-top-right-radius: 10px;
}
#all-articles .article-cat-inner .round-top-right {
	left: 100%;
	margin-left: -5px;
}
#all-articles .article-cat-inner .round-top-right:before {
	left: 0;
	-webkit-border-top-left-radius: 10px;
	-moz-border-top-left-radius: 10px;
	border-top-left-radius: 10px;
}
#all-articles .article-cat-inner a {
	position: relative;
	z-index: 1;
	font-size: 12px;
	color: white;
	font-weight: bold;
	text-transform: lowercase;
	padding-left: 5px;
	padding-right: 5px;
	text-decoration: none;
}
#all-articles .article-bottom {
	/* border: 1px dashed black; */
	padding: 5px;
	margin-bottom: 30px;
}
#all-articles .article-title {
	color: #F0594A;
	font-size: 19px;
	font-weight: bold;
	margin-top: 0;
	min-height: 42px;
	display: block;
}
#all-articles .article-title:hover {
	color: #E64F36;
}
#all-articles .article-more a {
	font-size: 12px;
	color: #333;
	text-transform: uppercase;
}
#all-articles .article-more a:focus,
#all-articles .article-more a:hover,
#all-articles .article-more a:active {
	color: inherit;
	text-decoration: underline;
}
#infscr-loading {
	float: left;
	clear: both;
	width: 100%;
	display: block;
	text-align: center;
	font-size: 12px;
    margin: 0 0 20px;
}
#infscr-loading img {
	display: inline-block;
	max-width: 100%;
	height: auto;
}
#is-load-more {
    border-top: 1px dotted #DFDFDD;
    text-align: center;
    padding-top: 15px;
}
#is-load-more-btn {
    display: inline-block;
    background-color: #F0594A;
    border: 1px solid #F0594A;
    padding: 11px 22px;
    color: #FFF;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    -webkit-transition: background .25s ease-in-out;
       -moz-transition: background .25s ease-in-out;
        -ms-transition: background .25s ease-in-out;
         -o-transition: background .25s ease-in-out;
            transition: background .25s ease-in-out;
    text-decoration: none;
    cursor: pointer;
    font-size: 13px;
    text-transform: uppercase;
}
#is-load-more-btn:hover,
#is-load-more-btn:focus,
#is-load-more-btn:active {
    background: transparent;
    color: #333;
    border-color: #333;
}
/* all articles - end */
/* HOMEPAGE - end */

/* ASIDE - start */
.widget {
	margin-bottom: 15px;
}
/* ASIDE - end */

/* SINGLE - start */
.mashsb-container {
	float: left;
	width: 100%;
}
.post-content {
	padding-bottom: 50px;
}
.post-content p img {
	display: block;
	width: 100%;
	height: auto;
}
.post-title,
.page-title {
	color: #F0594A;
	font-size: 36px;
	font-weight: bold;
	display: block;
}

/* post pagination - start */
#csp_btns ul {
	margin: 0;
	padding: 0;
	display: block;
	list-style: none;
	text-align: center;
}
#csp_btns li {
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
	font-weight: bold;
}
#csp_btns ul li:first-child a,
#csp_btns ul li:last-child a {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	padding: 5px 30px;
	margin: 10px 25px;
	background: 0 0;
	color: white;
	background: #F0594A;
	position: relative;
	display: block;
	font-size: 32px;
	line-height: 1;
	font-weight: 400;
	-webkit-text-shadow: 1px 0 0 white;
	-moz-text-shadow: 1px 0 0 white;
	text-shadow: 1px 0 0 white;
	border: 1px solid #F0594A;
	-webkit-transition: background .2s ease-out,color .2s ease-out;
	-moz-transition: background .2s ease-out,color .2s ease-out;
	-ms-transition: background .2s ease-out,color .2s ease-out;
	-o-transition: background .2s ease-out,color .2s ease-out;
	transition: background .2s ease-out,color .2s ease-out;
	text-decoration: none;
}
#csp_btns ul li:first-child:hover a,
#csp_btns ul li:last-child:hover a {
	background: white;
	color: #333;
	border-color: #333;
	-webkit-text-shadow: 1px 0 0 black;
	-moz-text-shadow: 1px 0 0 black;
	text-shadow: 1px 0 0 black;
}
/* post pagination - end */

/* social btns - start */
#social-buttons {
	padding: 0;
	list-style: none;
	position: relative;
	padding-left: 94px;
	margin: 8px 0;
	line-height: 1;
	font-size: 0;
}
#social-buttons li {
	display: inline-block;
	vertical-align: middle;
	width: 50%;
	max-width: 177px;
}
#social-buttons li.count {
	text-align: center;
	width: 91px;
	font-weight: 700;
	color: #cccccc;
	height: 42px;
	position: absolute;
	left: 0;
	top: 0;
}
#social-buttons li.count .counter {
	font-size: 43px;
	line-height: 30px;
}
#social-buttons li.count .shares {
	color: #8A8C8E;
	font-size: 11px;
	text-transform: uppercase;
	line-height: 1.5;
}
#social-buttons a {
	display: block;
	height: auto;
	color: white;
	padding: 13px;
	font-size: 16px;
	line-height: 1;
}
#social-buttons a:before {
	content: "";
	display: inline-block;
	vertical-align: baseline;
	font-family: mashsb-font;
	font-weight: normal;
	font-style: normal;
	speak: none;
	font-size: 16px;
	text-decoration: inherit;
	width: 1em;
	margin-right: .7em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	margin-top: 0;
}
#social-buttons a:focus,
#social-buttons a:hover,
#social-buttons a:active {
	text-decoration: none;
	
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
    opacity: 0.8;
}
#social-buttons .tw { background: #00C3F3; }
#social-buttons .tw:before { content: '\e807'; }
#social-buttons .fb { background: #2D5F9A; }
#social-buttons .fb:before { content: '\e800'; }
/* social btns - end */

/* facebook like popup - start */
#wbounce-modal.force-hide {
	display: none !important; /* do not remove !important */
}
#pp {
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 9002;

	/* bkg - start */
	background-color: transparent;
	background-color: transparent\9;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#b3000000, endColorstr=#b3000000)";
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#b3000000, endColorstr=#b3000000);
	background-color: rgba(0, 0, 0, 0.7);
	/* bkg - end */
}
#pp_modal {
	display: block;
    position: fixed;
    width: 600px;
	max-width: 95%;
    height: 400px;
	max-height: 95%;
    top: 0;
    left: 0;
	right: 0;
    bottom: 0;
    opacity: 1;
    overflow: visible;
	margin: auto;
    background: white;
	padding: 0 15px 15px;
	text-align: center;
	border-bottom: 5px solid #F0594A;
	z-index: 22;
	outline: 0;
}
#pp_modal .pp_close {
	cursor: pointer;
}
#pp_modal .x {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    display: block;
    line-height: 24px;
    font-size: 15px;
    cursor: pointer;
    color: #191819;
    text-decoration: none;
    background: transparent;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 4px solid transparent;
    text-align: center;
}
#pp_modal .x:before {
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -7px;
    line-height: 17px;
}
#pp_modal .x:focus,
#pp_modal .x:hover,
#pp_modal .x:active {
    color: white;
    text-decoration: none;
    background: #191819;
    border-color: #191819;
}
#pp_modal .pp_head {
	margin-bottom: 2em;
	padding: 0 1.5em;
}
#pp_modal .pp-logo-round:before,
#pp_modal .pp-logo-round:after {
	background-color: white;
}
#pp_modal .pp_t1 {
    color: black;
    font-size: 2em;
    line-height: 1;
    font-weight: bold;
    display: block;
    padding: 0;
    margin: 0 0 0.3em;
}
#pp_modal .pp_t2 {
	color: black;
    font-size: 1.3em;
    line-height: 1;
    font-weight: 300;
    display: block;
    padding: 0;
    margin: 0 0 0.5em;
}
#pp_modal .pp_t3 {
	color: #F0594A;
    font-size: 3em;
    line-height: 1;
    font-weight: bold;
    display: block;
    padding: 0;
    margin: 0 0 0.05em;
    text-transform: uppercase;
}
#pp_modal .pp_t4 {
	color: black;
    font-size: 32px;
    line-height: 1;
    font-weight: normal;
    display: block;
    padding: 0;
	margin: 0;
}
#pp_modal .pp_like {
	margin: 25px auto 15px;
	text-align: center;
}
#pp_modal .pp_bored {
    font-style: italic;
    font-weight: 300;
    line-height: 1;
    display: inline-block;
    color: inherit;
    padding: 0;
    margin: 0;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px solid black;
	margin: 10px 0;
}
#pp_modal .pp_arrows {
	position: relative;
}
#pp_modal .pp_arrows:before {
	content: "";
	display: block;
	width: 50%;
	height: 5px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	background: #F0594A;
}
#pp_modal .pp_arrows #pp_like_wrapper {
	position: relative;
    padding: 0 35px;
    background: white;
	display: inline-block;
	white-space: nowrap;
}
#pp_modal .pp_arrows #pp_like_wrapper:before {
	content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid #F0594A;
    left: 0;
}
#pp_modal #pp_like_btn {
	display: inline-block;
	vertical-align: middle;
	width: 50px;
	height: 20px;
	position: relative;
	overflow: hidden !important;
}
#pp_modal #pp_like_btn > span {
	display: block;
}
#pp_modal #pp_like_counter {
	display: inline-block;
	vertical-align: middle;
    font-family: helvetica, arial, sans-serif;
    font-size: 11px;
    height: auto;
    line-height: 18px;
    text-align: center;
    white-space: nowrap;
    background: white;
    border: 1px solid #9197a3;
    color: #4e5665;
    margin-left: 2px;
    min-width: 15px;
    padding: 0 3px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
	position: relative;
}
#pp_modal #pp_like_counter:before {
    content: "";
    display: block;
	border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 5px solid #9197a3;
    position: absolute;
	top: 50%;
    left: -6px;
    bottom: 0;
	right: auto;
    width: 0;
    height: 0;
    margin: -4px 0 0;
}
#pp_modal #pp_like_counter:after {
    content: "";
    display: block;
	border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 5px solid white;
    position: absolute;
	top: 50%;
    left: -4px;
    bottom: 0;
	right: auto;
    width: 0;
    height: 0;
    margin: -4px 0 0;
}
#pp_modal iframe {
	z-index: 1;
}
/* facebook like popup - end */
/* SINGLE - end */

/* CONTACT US PAGE - start */
#cf-submit {
	background-color: #F0594A;
	border-color: #EA594A;
}
/* CONTACT US PAGE - end */

/* COOKIE CONSENT - start */
.cc_banner-wrapper .cc_container {
	font-family: inherit;
}
.cc_banner-wrapper .cc_container a,
.cc_banner-wrapper .cc_container a:visited {
	color: #F0594A;
	text-decoration: none;
}
.cc_banner-wrapper .cc_container a:hover,
.cc_banner-wrapper .cc_container a:active {
	color: #F0594A;
	text-decoration: underline;
}
.cc_banner-wrapper  .cc_container .cc_btn,
.cc_banner-wrapper  .cc_container .cc_btn:visited {
	background-color: #F0594A;
	color: white;
	text-transform: uppercase;
}
.cc_banner-wrapper  .cc_container .cc_btn:hover,
.cc_banner-wrapper  .cc_container .cc_btn:active {
	background-color: #EC2E1B;
	color: white;
	text-decoration: none;
}
.cc_banner-wrapper .cc_container .cc_logo {
	display: none;
}
/* COOKIE CONSENT - end */

/* RESPONSIVE YouTube iframe - start */
.post-content iframe[src*="youtube.com"] {
	display: block;
	max-width: 100%;
}
/* RESPONSIVE YouTube iframe - end */

/* -------------------------------------------------------------------- ADS - start */
/* GENERAL ADS STYLES - start */
/* title widget */
#main .container .rc-wc .row-item h3, /* revcontent */
#main .container .cc_main_title, /* contentclick */
#main .container .ac_header_title { /* contentad */
	color: #333;
	font-size: 16px !important;
	font-weight: bold;
	font-style: normal;
	line-height: normal;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: left;
	width: 100%;
	height: auto;
	display: block;
	margin: 0;
	padding: 0;
}
#main .adsense_header_title {
	color: #444;
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	line-height: normal;
	font-family: Times, "Times New Roman", Georgia, sans;
	text-align: left;
	width: 100%;
	height: auto;
	display: block;
	margin: 0;
	padding: 0;
}
/* title ad */
#main .container .ac_container  { /* contentad */
	padding: 0;
}
#main .container .ac_title_wrapper { /* contentad */
	padding: 0;
	width: 100%;
}
#main .container .rc-item .rc-headline, /* revcontent */
#main .container .cc_ad_box .cc_ad .cc_title_link, /* contentclick */
#main .container .ac_title_wrapper .ac_title { /* contentad */
	/* color: #F0594A; */
	color: #333 !important;
	font-size: 14px !important;
	line-height: 1.5 !important;
	font-weight: normal !important;
	font-style: normal !important;
	line-height: normal !important;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	text-align: left !important;
	width: 100%;
	height: auto;
	max-height: none !important;
	display: block;
	margin: 0;
	padding: 4px !important;
	text-transform: none !important;
	white-space: normal;
	word-break: break-word;
	word-wrap: normal;
}
#main .container .content_ad_overlay .ac_title_wrapper .ac_title { /* contentad - text overlay the image */
	font-size: 12px !important;
	color: white !important;
	height: 100%;
}
/* GENERAL ADS STYLES - end */

/* REVCONTENT STYLES - start */
#main .rc-text-top.rc-branding {
	top: 0 !important;
}
#main .rc-item .rc-content {
	margin: 0 auto;
	padding: 0;
}
#main .rc-item .rc-cta {
	margin: 0;
	padding: 3px;
}
#main .rc-item .rc-photo {
	margin: 0;
}

/* REVCONTENT STYLES - end */

/* CONTENTAD STYLES - start */
/* content - start */
#content-with-aside .contentad .ac_adbox_inner:before,
#content-with-aside .contentad .ac_adbox_inner:after {
	content: "";
	display: table;
}
#content-with-aside .contentad .ac_adbox_inner:after {
	clear: both;
}
#content-with-aside .contentad .ac_container {
	display: block;
	float: left;
	margin: 0;
	padding: 3px;
}
#content-with-aside .contentad .ac_container .ac_image_link,
#content-with-aside .contentad .ac_container .ac_image {
	display: block;
	width: 100%;
	height: auto;
	max-width: 100%;
}
/* content - end */

/* aside - start */
#ads-aside .ac_container .ac_container,
#ads-aside .ac_container .ac_image_link,
#ads-aside .ac_container .ac_image,
#ads-aside .ac_container .ac_title_wrapper {
	display: block;
	width: auto;
	height: auto;
	max-width: 100%;
}
#ads-aside .content_ad_overlay .ac_container {
	display: block;
	float: left;
	width: 50%;
	margin: 0;
	padding: 3px;
}
#ads-aside .content_ad_overlay .ac_container:nth-child(2n+1) {
	clear: both;
}
#ads-aside .content_ad_overlay .ac_container .ac_title_wrapper {
	top: auto;
	right: auto;
	bottom: 0;
	left: 0;
	width: auto;
	max-width: 100%;
	margin: 3px;
}
/* aside - end */

#main .contentad .ac_adbox_inner {
    margin-left: -3px;
    margin-right: -3px;
}
#main .contentad .ac_adbox_inner:before,
#main .contentad .ac_adbox_inner:after {
    content: "";
    display: table;
}
#main .contentad .ac_adbox_inner:after {
    clear: both;
}
#main .contentad .ac_container {
    display: block;
    float: left;
    margin: 0;
    padding: 0 3px 10px;
    width: 100%;
}
#main .contentad .ac_container:nth-child(1n),
#main .contentad .ac_container:nth-child(3n) {
    margin: 0;
}
#main .contentad .ac_image_link {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
#main .contentad .ac_title_wrapper {
    padding: 0;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
/* CONTENTAD STYLES - end */

/* CONTENTCLICK STYLES - start */
#main .cc_ad_box .cc_ad {
	float: left;
	padding: 3px;
	margin: 0;
}
#main .cc_ad_box .cc_ad .cc_image_link,
#main .cc_ad_box .cc_ad .cc_image,
#main .cc_ad_box .cc_ad .cc_title_wrapper {
	width: 100%;
	height: auto;
	display: block;
	padding: 0;
	margin: 0 auto;
}
/* CONTENTCLICK STYLES - end */

/* IMOTOMY - start */
img.imonomy_trk_img {
	display: none;
}
/* IMOTOMY - end */

/* NEXT ARROW - start */
#next_arrow_wrapper {
	position: relative;
	padding-right: 30px;
	display: inline-block;
	width: 100%;
	overflow: visible;
}
#next_arrow {
	display: block;
	width: 90px;
	height: 90px;
	background: #F0594A;
	border-radius: 50%;
	top: 50%;
	position: absolute;
	margin-top: -45px;
	right: 0;
}
#next_arrow:before {
	content: "";
	display: block;
	background-image: url('images/next_arrow.png');
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-ms-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
	
	width: 32px;
	height: 52px;
	top: 50%;
	margin-top: -26px;
	left: 50%;
	margin-left: -11px;
	position: absolute;
}
/* NEXT ARROW - end */

/* CONTENTAD AdBlocker - start */
.blocked #main .contentad,
.blocked #main .contentad .ac_adbox,
.blocked #main .contentad .ac_adbox_inner,
.blocked #main .contentad .ac_image_link,
.blocked #main .contentad .ac_image,
.blocked #main .contentad .ac_title_wrapper,
.blocked #main .contentad .ac_title,
.blocked #main .contentad div[id*="ac_"] { display: block !important; }
/* CONTENTAD AdBlocker - end */

#main .content_ad_popunder {
    margin: 30px 4px;
}
#main .content_ad_popunder .ac_container {
    width: 100%;
    margin: 0 !important;
    padding: 6px !important;
}
#main .content_ad_popunder .ac_title_wrapper .ac_title {
    font-size: 16px;
    padding: 3px;
    font-weight: bold;
}
/* -------------------------------------------------------------------- ADS - end */

/* Contact form 7 - start */
.wpcf7-form .wpcf7-validation-errors {
	color: #F0594A;
    font-size: 16px;
    padding-bottom: 25px;
    padding-top: 15px;
}
.wpcf7-form .wpcf7-not-valid-tip {
	color: #F0594A;
}
.wpcf7 .screen-reader-response{
	border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
/* Contact form 7 - end */

@media all and (min-width: 1110px) {
	/* BASIC GRID - start */
	#content-with-aside { width: 780px; }
	/* BASIC GRID - end */
	
	/* HEADER - start */
	#header-logo-inner {
		float: left;
		max-width: 342px;
		padding: 24px 10px 23px;
	}
	#header-ad-inner {
		float: right;
		padding-top: 10px;
	}
	/* HEADER - end */
}
@media all and (min-width: 992px) {
    /* -------------------------------------------------------------------- ADS - start */
    /* CONTENTAD - start */
    #main .content_ad_popunder .ac_container {
        width: 20%;
    }
    #main .content_ad_popunder .ac_container:nth-child(5n+1) {
        clear: both;
    }
    /* CONTENTAD - end */
    /* -------------------------------------------------------------------- ADS - end */
}
@media all and (min-width: 992px) and (max-width: 1109px) {
	/* BASIC GRID - start */
	#content-with-aside { width: 640px; }
	/* BASIC GRID - end */
	
	/* HEADER - start */
	#nav ul li {
		padding: 0 20px 0 12px;
	}
	/* HEADER - end */
	
	/* HOMEPAGE - start */
	/* featured posts - start */
	#home .fp-big {
		width: 647px;
		height: 430px;
	}
	#home .fp-small {
		width: 293px;
		height: 215px;
	}
	/* featured posts - end */
	/* HOMEPAGE - end */
}
@media all and (max-width: 991px) {
	/* BASIC GRID - start */
	/* AM - 25.05.2017 - show sidebar for tablets - commented out section : 	
	#content-with-aside {
		width: 100%;
		float: none;
		padding-left: 15px;
		padding-right: 15px;
		margin-left: auto;
		margin-right: auto;
	}
	#aside {
		width: 100%;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	*/
	/* BASIC GRID - end */
	
	/* SINGLE - start */
	/* post pagination - start */
	#csp_btns li {
		font-size: 12px;
	}
	#csp_btns ul li:first-child a, #csp_btns ul li:last-child a {
		margin-left: 5px;
		margin-right: 5px;
		font-size: 24px;
	}
	/* post pagination - end */
	/* SINGLE - end */
}
@media all and (min-width: 768px) and (max-width: 991px) {
	#main .container {
		width: 99%;
		margin: 0 10px;
	}
	#header-logo .container {
		width: 99%;
		margin: 0 10px;
	}
	#content-with-aside {
		width: 100%;
		float: none;
		padding-left: 15px;
		padding-right: 15px;
		margin-left: auto;
		margin-right: auto;
	}
	#aside {
		display: none;
	}
	/* AM - 25.05.2017 - show sidebar for tablets  START - removed on 30.06.2017
	#aside {
		width: 100%;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	#content-with-aside {
		width: 55%;
		padding: 0 5px;
	}
	#aside {
		padding: 49px 5px;
	}
	*/
	/* AM - 25.05.2017 - show sidebar for tablets  END */
	
	/* HEADER - start */
	#nav ul li {
		padding: 0 12px 0 5px;
	}
	#header-search {
		width: 130px;
	}
	#header-search #s-wrapper {
		width: 90px;
	}
	/* HEADER - end */
	
	/* HOMEPAGE - start */
	/* featured posts - start */
	#home .fp-big {
		width: 480px;
		height: 320px;
	}
	#home .fp-small {
		width: 240px;
		height: 160px;
	}
	/* featured posts - end */
	/* HOMEPAGE - end */
    
    /* -------------------------------------------------------------------- ADS - start */
    /* CONTENTAD - start */
    #main .content_ad_popunder .ac_container {
        width: 25%;
    }
    #main .content_ad_popunder .ac_container:nth-child(4n+1) {
        clear: both;
    }
    /* CONTENTAD - end */
    /* -------------------------------------------------------------------- ADS - end */
}
@media all and (min-width: 768px) {
    /* -------------------------------------------------------------------- ADS - start */
    /* CONTENTAD - start */
    #ads-top-single-page .contentad_top .ac_container {
        width: 20%;
        display: none;
    }
    #ads-top-single-page .contentad_top .ac_container:nth-child(1),
    #ads-top-single-page .contentad_top .ac_container:nth-child(2),
    #ads-top-single-page .contentad_top .ac_container:nth-child(3),
    #ads-top-single-page .contentad_top .ac_container:nth-child(4),
    #ads-top-single-page .contentad_top .ac_container:nth-child(5) {
        display: block;
        clear: none;
    }
    #content-with-aside .contentad_bottom .ac_container {
        width: 33.333%;
    }
    #content-with-aside .contentad_bottom .ac_container:nth-child(3n+1) {
        clear: both;
    }
    .blocked #ads-aside .contentad_aside .ac_container {
        width: 50%;
    }
    .blocked #ads-aside .contentad_aside .ac_container:nth-child(2n+1) {
        clear: both;
    }
    .blocked #ads-aside .contentad_aside .ac_title_wrapper .ac_title {
        font-size: 14px;
    }
    /* CONTENTAD - end */
    /* -------------------------------------------------------------------- ADS - end */
}
@media all and (max-width: 767px) {
	/* AM - 25.05.2017 - show sidebar for tablets  START */
	#content-with-aside {
		width: 100%;
		float: none;
		padding-left: 15px;
		padding-right: 15px;
		margin-left: auto;
		margin-right: auto;
	}
	#aside {
		width: 100%;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	/* AM - 25.05.2017 - show sidebar for tablets  END */
	
	/* GENERAL STYLES - start */
	/* BASIC GRID - start */
	/* BASIC GRID - end */
	/* GENERAL STYLES - end */
	
	/* HEADER - start */
	#header-logo-inner {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		max-width: 358px;
	}
    #header-ad-inner {
        margin: 20px -15px 0;
    }
	/* HEADER - end */
	
	/* HOMEPAGE - start */
	/* featured posts - start */
	#home .fp-big {
		width: 100%;
		height: auto;
		max-height: 480px;
	}
	#home .fp-small {
		width: 50%;
		height: auto;
		max-height: 240px;
		border: 0;
		border-right: 1px solid transparent;
	}
	#home .fp-small > a {
		display: block;
		position: relative;
		padding-bottom: 56.25%;
		height: 0;
	}
	#home .fp-small:last-child {
		border-left: 1px solid transparent;
		border-right: 0;
	}
	/* featured posts - end */
	/* HOMEPAGE - end */
	
	/* SINGLE - start */
	/* facebook like popup - start */
	#pp_modal {
		overflow: scroll;
		overflow-x: hidden;
		overflow: -moz-scrollbars-none;
		-ms-overflow-style: none;
	}
	/* facebook like popup - end */
    
    /* NEXT ARROW - start */
	#next_arrow_wrapper {
		padding-right: 0;
	}
	#next_arrow {
		width: 60px;
		height: 60px;
		margin-top: -30px;
	}
	#next_arrow:before {
		width: 20px;
		height: 32.5px;
		margin-top: -16.25px;
		margin-left: -8px;
	}
	/* NEXT ARROW - end */
	/* SINGLE - end */
    
    /* -------------------------------------------------------------------- ADS - start */
    /* CONTENTAD - start */
    #main .content_ad_popunder .ac_container {
        width: 50%;
    }
    #main .content_ad_popunder .ac_container:nth-child(2n+1) {
        clear: both;
    }
    /* CONTENTAD - end */
    /* -------------------------------------------------------------------- ADS - end */
}
@media all and (min-width: 481px) {
	/* -------------------------------------------------------------------- ADS - start */
	/* CONTENTCLICK STYLES - start */
	#main .cc_ad_box .cc_ad {
		width: 33.333%;
	}
	#main .cc_ad_box .cc_ad:nth-child(3n+1) {
		clear: both;
	}
	/* CONTENTCLICK STYLES - end */
	
	/* CONTENTAD STYLES - start */
	#content-with-aside .contentad .ac_container {
		width: 33.333%;
	}
	#content-with-aside .contentad .ac_container:nth-child(3n+1) {
		clear: both;
	}
	/* CONTENTAD STYLES - end */
	/* -------------------------------------------------------------------- ADS - end */
}
@media all and (max-width: 480px) {
	/* HOMEPAGE - start */
	/* featured posts - start */
	#home .fp-big, #home .fp-small {
		width: 100%;
		height: auto;
		max-height: 240px;
		border: 0;
		border-bottom: 1px solid transparent;
	}
	#home .fp-small:last-child {
		border-left: 0;
	}
	#home .fp-small > a {
		display: inline;
		position: static;
		padding-bottom: 0;
		height: auto;
	}
	#home .fp-big .fp-text h2,
	#home .fp-small .fp-text h2 {
		font-size: 14px;
	}
	/* featured posts - end */
	/* all articles - start */
	#all-articles .hp-article {
		width: 100%;
		max-width: 360px;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	#all-articles .article-bottom {
		border-bottom: 1px solid #dfdfdd;
		padding-bottom: 15px;
		margin-bottom: 15px;
	}
	/* all articles - end */
	/* HOMEPAGE - end */
	
	/* SINGLE - start */
	.post-title {
		font-size: 24px;
	}
	/* post pagination - start */
	#csp_btns li {
		font-size: 14px;
	}
	#csp_btns ul li {
		display:none;
	}
	#csp_btns ul li:first-child,
	#csp_btns ul li:last-child {
		min-width: 100px;
		display: block;
		width: 100%;
		margin: 0 0 15px;
	}
	#csp_btns ul li:first-child a,
	#csp_btns ul li:last-child a {
		padding-left: 10px;
		padding-right: 10px;		
		font-size: 24px;
		padding: 5px 10px;
		margin: 0;
		display: block;
	}
	#csp_btns ul li:first-child {
		display:none;
	}
	#csp_btns ul li:last-child a {
		margin-top:10px;
	}
	/* post pagination - end */
	/* social btns - start */
	#social-buttons a {
		text-align: center;
	}
	#social-buttons a:before {
		margin: 0 auto;
	}
	#social-buttons a span {
		display: none;
	}
	/* social btns - end */
	/* facebook like popup - start */
	#pp_modal {
		height: auto;
	}
	/* facebook like popup - end */
	/* SINGLE - end */
	
	/* -------------------------------------------------------------------- ADS - start */
    #ads-before-pagination .adsense {
        margin: 0 -5px;
    }
    #ads-after-pagination .deployads {
        margin: 0 -5px 10px;
    }
	/* CONTENTCLICK STYLES - start */
	#main .cc_ad_box .cc_ad {
		width: 50%;
	}
	#main .cc_ad_box .cc_ad:nth-child(2n+1) {
		clear: both;
	}
	/* CONTENTCLICK STYLES - end */
	
	/* CONTENTAD STYLES - start */
	#content-with-aside .contentad .ac_container {
		width: 50%;
	}
	#content-with-aside .contentad .ac_container:nth-child(2n+1) {
		clear: both;
	}
	/* CONTENTAD STYLES - end */
	/* -------------------------------------------------------------------- ADS - end */
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
	/* NEXT ARROW - start */
	#next_arrow:before { background-image: url('images/next_arrow@2x.png');
	/* NEXT ARROW - end */
}
@media
only screen and (-webkit-min-device-pixel-ratio: 3),
only screen and (min--moz-device-pixel-ratio: 3),
only screen and (min-device-pixel-ratio: 3) {
	/* NEXT ARROW - start */
	#next_arrow:before { background-image: url('images/next_arrow@3x.png');
	/* NEXT ARROW - end */
}