/*
 * Theme Name: New-Template-BuzzDrives.com
 * Author Name: GDM WEBMEDIA
 *
 */

/* FONTS - start */
@font-face {
  font-family: 'mashsb-font';
  src: url('fonts/mashsb-font.eot?3442747');
  src: url('fonts/mashsb-font.eot?3442747#iefix') format('embedded-opentype'),
       url('fonts/mashsb-font.woff?3442747') format('woff'),
       url('fonts/mashsb-font.ttf?3442747') format('truetype'),
       url('fonts/mashsb-font.svg?3442747#mashsb-font') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* FONTS - end */


/* -------------------------- Ajusted Layout Overwrites ------------------------------------------ */
.navbar-header {
	display: block;
	float: none;
}
.navbar-toggle {
	display: block;
} 
.is_desktop #header #header-logo-inner{
	position: initial;
}
.is_desktop #header #header-logo-inner:before, 
.is_desktop #header #header-logo-inner:after, 
.is_desktop #header #header-logo-round:before, 
.is_desktop #header #header-logo-round:after, 
.is_desktop #header .pp-logo-inner:before, 
.is_desktop #header .pp-logo-inner:after, 
.is_desktop #header .pp-logo-round:before, 
.is_desktop #header .pp-logo-round:after{
	display: none;
}
.is_desktop #header #header-logo-inner{
	padding: 0;
}
.is_desktop #header #header-logo a{
	max-width: 150px;
	position: absolute;
	top: 7px;
	left: 7px;
}

#single #content {
	margin-top: 0;
}
#single .post-content p{
	font-size: 18px;
	color: #4a4a4a;
	line-height: 1.42857143;
}

#single .post-content p strong {
	font-size: 26px;
	color: #2a292a;
	display: block;
	padding: 10px 0;
	border-bottom: 2px solid #ebeaea;
}
.is_desktop #single .post-content h3{
	font-size: 36px;
}
#single .post-title{
	font-size: 44px;
	color: #ee2a35;
}
.is_desktop #nav li:nth-child(5):after{
 display: none;   
}
.is_desktop #header-logo>.container,
.is_desktop #header-logo #header-logo-inner{
	position:initial !important;
}
.is_desktop #header-logo>.container{
	line-height: 0;
}
.is_desktop #header #nav-mobile{
	line-height: 20px;
}
.is_desktop #header-logo #header-ad-inner{
	padding-top: 20px;
}

@media (min-width: 1110px){
	.is_desktop #header-logo #header-ad-inner{
		float: none;
	}
}

/* -------------------------- END Ajusted Layout Overwrites ------------------------------------------ */


/* GENERAL STYLES - start */
html {
	position: relative;
}
html body {	
	text-rendering: optimizeLegibility; /* optional: for older browsers */
	-webkit-font-variant-ligatures: common-ligatures; /* for iOS and Safari 6 */
	font-variant-ligatures: common-ligatures; /* for up-to-date browsers, including IE10 and Opera 21 */
	-webkit-font-smoothing: antialiased;
	-ms-overflow-x: hidden;
	overflow-x: hidden;
	color: #333;
	background: white;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	margin-bottom: 150px;
}
#main-gradient {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 230px;
	z-index: -1;
  
	/* gradient - start */
	background: #e6e6e6;
	background: -moz-linear-gradient(top,  #e6e6e6 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6e6e6), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top,  #e6e6e6 0%,#ffffff 100%);
	background: -o-linear-gradient(top,  #e6e6e6 0%,#ffffff 100%);
	background: -ms-linear-gradient(top,  #e6e6e6 0%,#ffffff 100%);
	background: linear-gradient(to bottom,  #e6e6e6 0%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#ffffff',GradientType=0 );
	/* gradient - end */
}

#page-with-aside {
	padding-bottom: 122px;
}

.tb {
	border: 1px solid red;
}
.right-block {
	display: block;
	margin-left: auto;
	margin-right: 0;
}
.left-block {
	display: block;
	margin-left: 0;
	margin-right: auto;
}
.fill {
	width: 100%;
/* 	min-width: 100%;
	min-height: 100%; */
}
.il { /* inherit link */
	color: #2a292a;
	font-size: inherit;
	text-decoration: inherit;
}
.il:focus,
.il:hover,
.il:active {
	color: #2a292a;
	text-decoration: inherit;
}
/* BASIC GRID - start */
#aside {
	width: 330px;
	max-width: 330px;
	float: right;
	padding: 49px 15px;
	text-align: center;
}
#single #aside {
	padding-top: 26px;
}
#content-with-aside {
	float: left;
	padding: 0 15px;
}
/* BASIC GRID - end */
.mb15 { margin-bottom: 15px; }

#popunder-page-title {
    font-weight: bold;
    margin: 10px auto;
    font-size: 32px;
    padding-bottom: 5px;
    text-align: center;
    color: #000;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.article-more {
    min-width: 122px;
    min-height: 33px;
    object-fit: contain;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
    float: right;
    background-color: #49b4de;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-top: auto;
}

.article-more a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
}

.article-more a:hover {
    text-decoration: none;
}

.article-more i {
    font-weight: normal;
    padding-left: 5px;
}

.link-category {
    width: 94px;
    height: 22px;
    object-fit: contain;
    border-radius: 2px;
    background-color: #2a292a;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.link-category a {
    font-size: 12px;
    font-weight: bold;
    line-height: normal;
    color: #ffffff;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
}

.link-category a:hover,
.link-category a:focus {
    text-decoration: none;
}
/* GENERAL STYLES - end */
 
/* HEADER - start */
/* header nav - start */
.overflow-header {
	overflow-y: hidden;
}

#header {
    background-color: #ffffff;
	box-shadow: 0 4px 2px -2px rgba(0,0,0,0.25);
	padding: 0;
	min-height: 53px;
}
#header .container,
.container>.navbar-header {
	min-height: 53px;
	position: relative;
}
#header .navbar-brand {
	padding: 0;
	height: 23px;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
#header .navbar-brand > amp-img {
	height: 23px;
}
#header.navbar-default,
#header.navbar {
	border: 0;

}

#header .navbar-toggle {
	border-color: transparent;
	font-size: 12px;
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	margin: 0;
}

#header .navbar-toggle:hover,
#header .navbar-toggle:focus {
	background-color: transparent;
}

#header .navbar-toggle .icon-bar {
	background-color: #2a292a;
	width: 15px;
}

#nav {
	float: right;
	margin-top: 6px;
}
#header ul,
#nav-mobile ul {
	padding: 0;
	list-style: none;
}
#sidebarmenu ul li {
	float: left;
	position: relative;
	padding: 0 28px 0 0;
}
#sidebarmenu li:last-child:after {
	display: none;
}

#menu-main-menu {
	float: right;
	margin-top: 5px;
}

#menu-main-menu li:last-of-type {
    padding-right: 0;
}

#menu-main-menu a {
	color: #000;
	padding: 10px 0 0 0;
	display: block;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.17;
	letter-spacing: normal;
	text-align: right;
	color: #2a292a;
	font-size: 12px;
}

#menu-main-menu a:hover {
	text-decoration: none;
    border-bottom: 2px solid #ee2a35;
	background-color: transparent;
}

#menu-main-menu a:focus {
	text-decoration: none;
	background-color: transparent;
	outline: 0;
}
#mobile-menu-btn {
	border: 0;
	height: 32px;
	margin: 4px auto;
	padding: 6px 10px;
	text-transform: uppercase;
	color: #2E2E2E;
	font-weight: bold;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	line-height: 20px;
	cursor: pointer;
	outline: 0;
	
	/* gradient - start */
	background: #edb6a3;
	background: -moz-linear-gradient(top,  #edb6a3 0%, #e64f36 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#edb6a3), color-stop(100%,#e64f36));
	background: -webkit-linear-gradient(top,  #edb6a3 0%,#e64f36 100%);
	background: -o-linear-gradient(top,  #edb6a3 0%,#e64f36 100%);
	background: -ms-linear-gradient(top,  #edb6a3 0%,#e64f36 100%);
	background: linear-gradient(to bottom,  #edb6a3 0%,#e64f36 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edb6a3', endColorstr='#e64f36',GradientType=0 );
	/* gradient - end */
}
#mobile-menu-btn.open,
#mobile-menu-btn:active {
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
	-moz-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
	box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}
#nav-mobile {
	display: none;
}
#nav-mobile ul {
	margin-bottom: 15px;
}
#nav-mobile a {
	display: inline-block;
	padding: 8px;
}
/* header nav - end */

/* header search - start */
#header-search {
	border-radius: 20px;
	width: 40px;
	display: block;
	float: right;
	background-color: #000;
}

#header-search.search-transition {
	width: 150px;
	-webkit-transition: width 0.5s;
	transition: width 0.5s;
}

#header-search #searchsubmit {
	background: transparent;
	border: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #ebeaea;
	display: inline-block;
	float: left;
	width: 40px;
	height: 32px;
	outline: 0;
}

#header-search #searchsubmit .glyphicon-search {
	font-size: 12px;
	color: #ebeaea;
}

#header-search #s-wrapper {
	height: 0;
	transform:translate(9999px);
	opacity: 0;
	margin-top: 6px;
	width: 0;
}

#header-search #s-wrapper.container-transition {
	transition: opacity 2s linear;
	transform:translate(0);
	opacity: 1;
	float: left;
	background: transparent;
}

#header-search #s {
	width: 100px;
	border: 0;
	background: transparent;
	color: white;
	outline: 0;
	padding: 3px 5px;
	overflow: hidden;
	position: relative;
	text-overflow: ellipsis;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 12px;
}
#header-search #s::-webkit-input-placeholder { color: white; opacity: 1; }
#header-search #s::-moz-placeholder { color: white; opacity: 1; }
#header-search #s:-ms-input-placeholder { color: white; opacity: 1; }
#header-search #s:-moz-placeholder { color: white; opacity: 1; }
/* header search - end */

/* header logo - start */
#header-logo {
	text-align: center;
}
#header-logo-inner,
.pp-logo-inner {
	display: inline-block;
	padding: 6px 12px;
	-webkit-border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
	position: relative;
	
	/* gradient - start */
	background: #2E2E2E;
	background: -moz-linear-gradient(top,  #2e2e2e 0%, #000000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2e2e2e), color-stop(100%,#000000));
	background: -webkit-linear-gradient(top,  #2e2e2e 0%,#000000 100%);
	background: -o-linear-gradient(top,  #2e2e2e 0%,#000000 100%);
	background: -ms-linear-gradient(top,  #2e2e2e 0%,#000000 100%);
	background: linear-gradient(to bottom,  #2e2e2e 0%,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e2e2e', endColorstr='#000000',GradientType=0 );
	/* gradient - end */
}
#header-logo-inner:before,
#header-logo-inner:after,
#header-logo-round:before,
#header-logo-round:after,
.pp-logo-inner:before,
.pp-logo-inner:after,
.pp-logo-round:before,
.pp-logo-round:after {
	content: "";
	display: block;
	width: 10px;
	height: 10px;
	background: #2E2E2E;
	position: absolute;
	top: 0;
}
#header-logo-inner:before,
#header-logo-round:before,
.pp-logo-inner:before,
.pp-logo-round:before {
	right: 100%;
}
#header-logo-inner:after,
#header-logo-round:after,
.pp-logo-inner:after,
.pp-logo-round:after {
	left: 100%;
}
#header-logo-round:before,
#header-logo-round:after,
.pp-logo-round:before,
.pp-logo-round:after {
	background: rgb(235, 235, 235);
	z-index: 1;
}
#header-logo-round:before,
.pp-logo-round:before {
	-webkit-border-radius: 0 100% 0 0;
	-moz-border-radius: 0 100% 0 0;
	border-radius: 0 100% 0 0;
}
#header-logo-round:after,
.pp-logo-round:after {
	-webkit-border-radius: 100% 0 0 0;
	-moz-border-radius: 100% 0 0 0;
	border-radius: 100% 0 0 0;
}
#header-logo a {
	display: block;
}
/* header logo - end */

/* header ad - start */
#header-ad {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 5px;
	display: none;
}
#header-ad-inner {
	display: block;
}
/* header ad - end */
/* HEADER - end */

/* FOOTER - start */
#footer-inner {
	padding: 42px 0 35px;
	background-color: #2a292a;
}

#footer .footer-content {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	align-items: center;
	justify-content: center
}

#footer-logo-wrapper {
	float: left;
}
#footer-logo-wrapper a {
	display: inline-block;
}
#footer-menu {
	float: left;
	margin-left: 27px;
}
#menu-footer {
	margin-left: 0;
	margin-bottom: 0;
}
#footer-menu a {
	text-transform: uppercase;
	color: white;
	font-weight: normal;
	font-size: 12px;
}
/* FOOTER - end */

/* Glomex player - start */
.responsive-glomex-container {
	 position: relative;
	 padding-bottom: 56.25%;
	 padding-top: 75px;
	 height: 0;
}
.responsive-glomex-container iframe {
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 border: 0;
}
/* Glomex player - end */

/* HOMEPAGE - start */
/* slider homepage - start */
#home .owl-carousel-container {
	position: relative;
}
#home .owl-carousel-left-slide {
	position: absolute;
	z-index: 2;
	top: calc(50% - 23px);
	left: 4%;
	cursor: pointer;
	padding: 10px;
}

#home .owl-carousel-right-slide {
	position: absolute;
	z-index: 2;
	top: calc(50% - 23px);
	right: 4%;
	cursor: pointer;
	padding: 10px;
}

#home .owl-carousel {
	margin-top: 23px;
	margin-bottom: 27px;
}
#home .item {
	position: relative;
}

#home .owl-carousel .owl-nav {
	display: none;
}

#home .owl-carousel .owl-dots {
	position: absolute;
    width: 100%;
    bottom: 28px;
}

#home .owl-theme .owl-dots .owl-dot span {
	width: 11px;
	height: 11px;
	object-fit: contain;
	background-color: #c4c4c4;
	border: solid 0.8px #979797;
}

#home .owl-theme .owl-dots .owl-dot.active span {
	background-color: #fff;
}

#home .text-post {
	position: absolute;
    top: 20px;
    right: 32px;
    z-index: 1;
    width: 335px;
}

#home .post-image-container {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
    min-height: 400px;
}

#home .post-image-container:before {
	content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(rgba(42, 41, 42, 0.25), rgba(42, 41, 42, 0.25));
	background-blend-mode: hard-light;
}

#home .link-title {
	min-width: 335px;
	min-height: 65px;
	object-fit: contain;
	background-color: #fff;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
	padding: 10px;
	border-bottom-left-radius: 2px;
    border-top-right-radius: 2px;
}

#home .link-title p {
	font-size: 20px;
	font-weight: bold;
	line-height: 1.25;
	text-align: left;
	color: #2a292a;
}
/* slider homepage - end */
/* featured posts - start */
#home .fp {
	float: left;
	overflow: hidden;
	position: relative;
}
#home .fp-big {
	width: 720px;
	height: 480px;
	border-bottom: 1px solid transparent;
}
#home .fp-small {
	width: 360px;
	height: 240px;
	border-left: 1px solid transparent;
	border-bottom: 1px solid transparent;
}
#home .fp img {
	width: 100%;

	-webkit-transition: -webkit-transform .5s ease-in-out;
	-moz-transition: -moz-transform .5s ease-in-out;
	-ms-transition: -ms-transform .5s ease-in-out;
	-o-transition: -o-transform .5s ease-in-out;
	transition: transform .5s ease-in-out;
}
#home .fp:hover img {
	-webkit-transform: scale(1.15); 
	-moz-transform: scale(1.15);
	-ms-transform: scale(1.15);
	-o-transform: scale(1.15);
	transform: scale(1.15);
}
#home .fp .fp-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
#home .fp .fp-overlay:before {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 50%;
	left: 0;
	bottom: 0;
	-webkit-transition: height .5s ease-in-out;
	-moz-transition: height .5s ease-in-out;
	-ms-transition: height .5s ease-in-out;
	-o-transition: height .5s ease-in-out;
	transition: height .5s ease-in-out;
	
	/* gradient - start */
	background: transparent;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(30%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
	/* gradient - end */
}
#home .fp:hover .fp-overlay:before {
	height: 100%;
}
#home .fp .fp-text {
	position: absolute;
	left: 0;
	bottom: 0;
	color: white;
	padding: 0 15px;
	width: 100%;
}
#home .fp-text h2 {
	text-align: center;
	text-transform: uppercase;
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 28px;
}
#home .fp-text p {
	/* DO BE DONE */
}
#home .fp-big .fp-text h2 {
	font-size: 22px;
}
#home .fp-small .fp-text h2 {
	font-size: 12px;
}
#home .fp-label {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 82px;
	height: 82px;
	border: 0;
	background: transparent;
}
#home .fp-label-triangle {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	top: 0;
	left: 0;
	border-top: 41px solid #DE4626;
	border-left: 41px solid #DE4626;
	border-right: 41px solid transparent;
	border-bottom: 41px solid transparent;
}
#home .fp-label .fp-label-text {
	color: white;
	font-size: 12px;
	line-height: 1;
	font-weight: bold;
	width: 82px;
	height: 82px;
	text-align: center;
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -41px;
	word-spacing: 82px; /* workaround to force one word per line */
	
	/* rotate - start */
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=0.7071067811865475, M21=-0.7071067811865475, M22=0.7071067811865476);
	zoom: 1;
	/* rotate - end */
}
/* featured posts - end */

/* all articles - start */
#home #all-articles {
	background: #eee;
}

#is-wrapper.articles-shadow {
	background: #fff;
}

#all-articles .infinite-posts .container {
	margin: 0 auto;
}

#all-articles h3 {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 15px;
	color: #4D4D4D;
}
#all-articles .article-top,
#all-articles .article-image {
	min-width: 510px;
	min-height: 260px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

#all-articles .article-top {
	/*border: 4px solid #2a292a;*/
	border-radius: 6px;
}

#all-articles .article-top.big-post {
	border-radius: 0;
}

#all-articles .article-image {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#all-articles .article-top.big-post,
#all-articles .article-image.big-post {
	width: 100%;
	height: 451px;
	border: 0;
}

#all-articles .article-image.big-post {
	line-height: 442px;
}

#all-articles .article-image.big-post .overlay-img {
	height: 100%;
	position: relative;
}

#all-articles .article-image.big-post .overlay-img .gradient {
	background-image: linear-gradient(to bottom, rgba(238, 238, 238, 0), rgba(0, 0, 0, 0.95));
	background-image: -webkit-linear-gradient(top, rgba(238, 238, 238, 0) 0%, rgba(0, 0, 0, 0.95) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(238, 238, 238, 0)), color-stop(100, rgba(0, 0, 0, 0.95)));
	background-image: -moz-linear-gradient(top, rgba(238, 238, 238, 0) 0%, rgba(0, 0, 0, 0.95) 100%);
	background-image: -ms-linear-gradient(top, rgba(238, 238, 238, 0) 0%, rgba(0, 0, 0, 0.95) 100%);
	background-blend-mode: darken;
	z-index: 2;
	position: absolute;
	width: 100%;
	top: 0;
}

#all-articles .article-image.big-post .overlay-img > div {
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#all-articles .article-cat.big-post {
	z-index: 3;
	top: 0;
	right: 0;
}
#all-articles .article-image {
	/*min-width: 100%;*/
	/*min-height: 100%;*/
	/*max-width: none;*/
	/*max-height: none;*/
	/*position: relative;*/
	/*display: inline-block;*/
	/*margin: -100%;*/
	-webkit-transition: -webkit-transform .5s ease-in-out;
	-moz-transition: -moz-transform .5s ease-in-out;
	-ms-transition: -ms-transform .5s ease-in-out;
	-o-transition: -o-transform .5s ease-in-out;
	transition: transform .5s ease-in-out;
}
#all-articles .article-image:hover {
	-webkit-transform: scale(1.15);
	-moz-transform: scale(1.15);
	-ms-transform: scale(1.15);
	-o-transform: scale(1.15);
	transform: scale(1.15);
}
#all-articles .article-cat {
	position: absolute;
	bottom: 0;
	min-width: 161px;
	right: 0;
	min-height: 46px;
}

#all-articles .article-cat a {
	font-size: 20px;
	font-weight: 500;
}

#all-articles .article-cat a:focus {
	text-decoration: none;
}
#all-articles .article-cat-inner {
	display: inline-block;
	position: relative;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}
#all-articles .article-cat-inner .round-top-left,
#all-articles .article-cat-inner .round-top-right {
	pointer-events: none;
	display: block;
	z-index: 1;
	position: absolute;
	height: 20px;
	width: 20px;
	overflow: hidden;
	top: -5px;
}
#all-articles .article-cat-inner .round-top-left:before,
#all-articles .article-cat-inner .round-top-right:before {
	content: '';
	z-index: 1;
	position: absolute;
	top: 0;
	height: 30px;
	width: 30px;
	background: transparent;
	border: 5px solid #F0594A;
}
#all-articles .article-cat-inner .round-top-left {
	right: 100%;
	margin-right: -5px;
}
#all-articles .article-cat-inner .round-top-left:before {
	right: 0;
	-webkit-border-top-right-radius: 10px;
	-moz-border-top-right-radius: 10px;
	border-top-right-radius: 10px;
}
#all-articles .article-cat-inner .round-top-right {
	left: 100%;
	margin-left: -5px;
}
#all-articles .article-cat-inner .round-top-right:before {
	left: 0;
	-webkit-border-top-left-radius: 10px;
	-moz-border-top-left-radius: 10px;
	border-top-left-radius: 10px;
}
#all-articles .article-cat-inner a {
	position: relative;
	z-index: 1;
	font-size: 12px;
	color: white;
	font-weight: bold;
	text-transform: lowercase;
	padding-left: 5px;
	padding-right: 5px;
	text-decoration: none;
}
#all-articles .article-bottom {
	padding: 0;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: column;
}

#all-articles .article-bottom.big-post {
	background-color: #f6f6f6;
	padding: 0;
	flex-direction: row;
	padding-bottom: 17px;
	box-shadow: inset 0 -10px 10px -10px rgba(0,0,0,.25);
	margin-bottom: 30px;
}

#all-articles .article-bottom.big-post .container {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
}

#all-articles .article-bottom.big-post .button-container {
	height: 100%;
	display: flex;
	justify-content: flex-end;
}

#all-articles .article-bottom.big-post .article-more a:focus {
	text-decoration: none;
}

#all-articles .article-bottom.big-post p {
	font-size: 18px;
	font-weight: 500;
	color: #4a4a4a;
	margin: 19px 0 12px 0;
}

#all-articles .article-bottom p {
	font-size: 18px;
	margin-top: 13px;
}
#all-articles .article-title {
	color: #F0594A;
	font-size: 30px;
	font-weight: bold;
	margin-top: 15px;
	min-height: 42px;
	display: block;
}

#all-articles .article-title.big-post {
	position: absolute;
	bottom: 34px;
	z-index: 3;
	color: white;
	left: 0;
	right: 0;
	text-align: center;
}

#all-articles .article-title.big-post .il {
	color: #fff;
}
#all-articles .article-title:hover {
	color: #E64F36;
}

#all-articles .article-more {
	align-self: flex-end;
}

.carousel-miss-articles.owl-carousel.owl-drag .owl-item {
	padding-bottom: 2px;
}

.carousel-miss-articles .carousel-item {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
	background-color: #fff;
}

.carousel-miss-articles .post-container-top {
	height: 180px;
}

.carousel-miss-articles .post-image-carousel {
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.carousel-miss-articles .post-container-bottom {
	/*min-height: 62px;*/
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.carousel-miss-articles .post-container-bottom a:hover {
	text-decoration: none;
}

.carousel-miss-articles .post-container-bottom .aside-post-title {
	font-size: 18px;
	color: #2a292a;
	font-weight: 500;
	padding: 10px 0 14px 18px;
}

.carousel-miss-articles .owl-dots {
	display: none;
}

.infinite-posts h4 {
	font-size: 32px;
	font-weight: bold;
	color: #2a292a;
	text-transform: capitalize;
	text-align: center;
	padding-top: 25px;
	margin-bottom: 0;
}

.infinite-posts h4:after {
	content: "";
	width: 181px;
	border-bottom: 2px solid #ee2a35;
	display: block;
	margin: 0 auto;
	margin-top: 10px;
}

#all-articles .infinite-posts.ttt {
	position: relative;
	z-index: 3;
	margin: 0 auto;
	padding-bottom: 30px;
}

#all-articles .infinite-posts.article-carousel {
	box-shadow: inset 0 10px 9px -7px rgba(0,0,0,.25), inset 0px -10px 9px -7px rgba(0,0,0,.25);
	padding: 0 0 5px;
}

#all-articles .infinite-posts.article-carousel > div {
	background-color: #eee;
	padding-bottom: 1px;
	margin-top: -5px;
}

#all-articles .infinite-posts.article-carousel .carousel-container-bottom {
	position: relative;
}

#all-articles .infinite-posts.article-carousel .carousel-left-slide {
	position: absolute;
	z-index: 2;
	top: calc(50% - 23px);
	left: 0;
	cursor: pointer;
	padding: 10px;
}

#all-articles .infinite-posts.article-carousel .carousel-right-slide {
	position: absolute;
	z-index: 2;
	top: calc(50% - 23px);
	right: 0;
	cursor: pointer;
	padding: 10px;
}


#adsense_before_pag {
	background-color: #fff;
	padding-top: 30px;
	text-align: center;
}

#infscr-loading {
	float: left;
	clear: both;
	width: 100%;
	display: block;
	text-align: center;
	font-size: 12px;
    margin: 0 0 20px;
	padding: 20px 0;
}
#infscr-loading img {
	display: inline-block;
	max-width: 100%;
	height: auto;
}
#is-load-more {
    text-align: center;
    padding-top: 15px;
	padding-bottom: 20px;
	background-color: #fff;
}
#is-load-more-btn,
#cf-submit.send-success {
    display: inline-block;
    background-color: #ee2a35;
    border: 1px solid #ee2a35;
    padding: 8px 20px;
    color: #FFF;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    -webkit-transition: background .25s ease-in-out;
       -moz-transition: background .25s ease-in-out;
        -ms-transition: background .25s ease-in-out;
         -o-transition: background .25s ease-in-out;
            transition: background .25s ease-in-out;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
	font-weight: 500;
    text-transform: uppercase;
	border-radius: 2px;
}
#is-load-more-btn:hover,
#is-load-more-btn:focus,
#is-load-more-btn:active {
    background: transparent;
    color: #333;
    border-color: #333;
}

#cf-submit.send-success:hover,
#cf-submit.send-success:focus,
#cf-submit.send-success:active {
	background: transparent;
    color: #333;
    border-color: #333;
}
/* all articles - end */
/* HOMEPAGE - end */

/* CATEGORY PAGE - start */
#category #all-articles {
    background: #fff;
}
/* CATEGORY PAGE - end */

/* ASIDE - start */
.widget {
	margin-bottom: 15px;
}
/* ASIDE - end */

/* SINGLE - start */
.mashsb-container {
	float: left;
	width: 100%;
}
.post-content {
	padding-bottom: 50px;
}
.post-content p img {
	display: block;
	width: 100%;
	height: auto;
}
.post-title,
.page-title {
	color: #2b292b;
	font-size: 36px;
	font-weight: bold;
	display: block;
}

/* post pagination - start */
#csp_btns ul {
	margin: 0;
	padding: 0;
	display: block;
	list-style: none;
	text-align: center;
}
#csp_btns li {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	font-weight: bold;
}
#csp_btns ul li:first-child a,
#csp_btns ul li:last-child a {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	padding: 5px 30px;
	margin: 10px 25px;
	color: white;
	position: relative;
	display: block;
	line-height: 1;
	text-decoration: none;
	background: white;
    color: #333;
    border: none;
    -webkit-text-shadow: 1px 0 0 black;
    -moz-text-shadow: 1px 0 0 black;
    text-shadow: 1px 0 0 black;
    font-size: 24px;
    text-transform: none;
    font-weight: 400;
}
#csp_btns ul li:first-child:hover a,
#csp_btns ul li:last-child:hover a {
	background: white;
	color: #333;
	border-color: #333;
	-webkit-text-shadow: 1px 0 0 black;
	-moz-text-shadow: 1px 0 0 black;
	text-shadow: 1px 0 0 black;
}
/* post pagination - end */

/* social btns - start */
#social-buttons {
	padding: 0;
	list-style: none;
	line-height: 1;
	font-size: 0;
	padding: 19px 0;
	border-top: 2px solid #ebeaea;
	margin-top: 20px;
}
#social-buttons li {
	display: inline-block;
	vertical-align: middle;
	margin-right: 11px;
}
#social-buttons li.count {
	text-align: center;
	font-weight: 700;
	color: #4a4a4a;
}
#social-buttons li.count .counter {
	font-size: 16px;
	text-transform: uppercase;
	display: inline-block;
	margin-right: 5px;
}
#social-buttons li.count .shares {
	color: #4a4a4a;
	font-size: 16px;
	text-transform: uppercase;
}
#social-buttons a {
	display: block;
}
#social-buttons a:before {
	content: "";
	display: inline-block;
	vertical-align: baseline;
	font-family: mashsb-font;
	font-weight: normal;
	font-style: normal;
	speak: none;
	font-size: 16px;
	text-decoration: inherit;
	width: 1em;
	margin-right: .7em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	margin-top: 0;
}
#social-buttons a:focus,
#social-buttons a:hover,
#social-buttons a:active {
	text-decoration: none;
	
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
    opacity: 0.8;
}
#social-buttons .tw { background: #00C3F3; }
#social-buttons .tw:before { content: '\e807'; }
#social-buttons .fb { background: #2D5F9A; }
#social-buttons .fb:before { content: '\e800'; }
/* social btns - end */

/* facebook like popup - start */
#wbounce-modal.force-hide {
	display: none !important; /* do not remove !important */
}
#pp {
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 9002;

	/* bkg - start */
	background-color: transparent;
	background-color: transparent\9;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#b3000000, endColorstr=#b3000000)";
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#b3000000, endColorstr=#b3000000);
	background-color: rgba(0, 0, 0, 0.7);
	/* bkg - end */
}
#pp_modal {
	display: block;
    position: fixed;
    width: 600px;
	max-width: 95%;
    height: 400px;
	max-height: 95%;
    top: 0;
    left: 0;
	right: 0;
    bottom: 0;
    opacity: 1;
    overflow: visible;
	margin: auto;
    background: white;
	padding: 0 15px 15px;
	text-align: center;
	border-bottom: 5px solid #F0594A;
	z-index: 22;
	outline: 0;
}
#pp_modal .pp_close {
	cursor: pointer;
}
#pp_modal .x {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    display: block;
    line-height: 24px;
    font-size: 15px;
    cursor: pointer;
    color: #191819;
    text-decoration: none;
    background: transparent;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 4px solid transparent;
    text-align: center;
}
#pp_modal .x:before {
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -7px;
    line-height: 17px;
}
#pp_modal .x:focus,
#pp_modal .x:hover,
#pp_modal .x:active {
    color: white;
    text-decoration: none;
    background: #191819;
    border-color: #191819;
}
#pp_modal .pp_head {
	margin-bottom: 2em;
	padding: 0 1.5em;
}
#pp_modal .pp-logo-round:before,
#pp_modal .pp-logo-round:after {
	background-color: white;
}
#pp_modal .pp_t1 {
    color: black;
    font-size: 2em;
    line-height: 1;
    font-weight: bold;
    display: block;
    padding: 0;
    margin: 0 0 0.3em;
}
#pp_modal .pp_t2 {
	color: black;
    font-size: 1.3em;
    line-height: 1;
    font-weight: 300;
    display: block;
    padding: 0;
    margin: 0 0 0.5em;
}
#pp_modal .pp_t3 {
	color: #F0594A;
    font-size: 3em;
    line-height: 1;
    font-weight: bold;
    display: block;
    padding: 0;
    margin: 0 0 0.05em;
    text-transform: uppercase;
}
#pp_modal .pp_t4 {
	color: black;
    font-size: 32px;
    line-height: 1;
    font-weight: normal;
    display: block;
    padding: 0;
	margin: 0;
}
#pp_modal .pp_like {
	margin: 25px auto 15px;
	text-align: center;
}
#pp_modal .pp_bored {
    font-style: italic;
    font-weight: 300;
    line-height: 1;
    display: inline-block;
    color: inherit;
    padding: 0;
    margin: 0;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px solid black;
	margin: 10px 0;
}
#pp_modal .pp_arrows {
	position: relative;
}
#pp_modal .pp_arrows:before {
	content: "";
	display: block;
	width: 50%;
	height: 5px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	background: #F0594A;
}
#pp_modal .pp_arrows #pp_like_wrapper {
	position: relative;
    padding: 0 35px;
    background: white;
	display: inline-block;
	white-space: nowrap;
}
#pp_modal .pp_arrows #pp_like_wrapper:before {
	content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid #F0594A;
    left: 0;
}
#pp_modal #pp_like_btn {
	display: inline-block;
	vertical-align: middle;
	width: 50px;
	height: 20px;
	position: relative;
	overflow: hidden !important;
}
#pp_modal #pp_like_btn > span {
	display: block;
}
#pp_modal #pp_like_counter {
	display: inline-block;
	vertical-align: middle;
    font-family: helvetica, arial, sans-serif;
    font-size: 11px;
    height: auto;
    line-height: 18px;
    text-align: center;
    white-space: nowrap;
    background: white;
    border: 1px solid #9197a3;
    color: #4e5665;
    margin-left: 2px;
    min-width: 15px;
    padding: 0 3px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
	position: relative;
}
#pp_modal #pp_like_counter:before {
    content: "";
    display: block;
	border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 5px solid #9197a3;
    position: absolute;
	top: 50%;
    left: -6px;
    bottom: 0;
	right: auto;
    width: 0;
    height: 0;
    margin: -4px 0 0;
}
#pp_modal #pp_like_counter:after {
    content: "";
    display: block;
	border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 5px solid white;
    position: absolute;
	top: 50%;
    left: -4px;
    bottom: 0;
	right: auto;
    width: 0;
    height: 0;
    margin: -4px 0 0;
}
#pp_modal iframe {
	z-index: 1;
}
/* facebook like popup - end */
/* SINGLE - end */

/* CONTACT US PAGE - start */
#cf-submit {
	background-color: #F0594A;
	border-color: #EA594A;
}

#contact-us-page {
	padding: 40px 0;
}

#contact-us-page .information-content {
	margin-right: 30px;
	text-align: right;
    height: 532px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#contact-us-page .information-content a{
	color: #2c2a2c;
}

#contact-us-page .form-container {
	margin-left: 30px;
}

#contact-us-page .page-title {
	margin-top: 0;
}

#contact-us-page .col-md-6:nth-child(2n) {
	border-left: 1px solid #ccc;
}

#contact-us-page .link-contact {
	cursor: pointer;
}
/* CONTACT US PAGE - end */

/* COOKIE CONSENT - start */
.cookie-container {
	min-height: 67px;
}
.cookie-container .cookie-text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 16.5px 30px 16.5px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #fff;
}
.cookie-container .cc_more_info {
	color: #ee2a35;
	text-decoration: none;
}
.cookie-text p {
	margin: 0;
	font-size: 17px;
	color: #999;
}
.cookie-container .cc_btn {
	cursor: pointer;
	text-align: center;
	display: block;
	width: 33%;
	margin-left: 10px;
	float: right;
	max-width: 120px;
	padding: 6.5px 15px;
	border: 0;
	background-color: #ee2a35;
	color: white;
	text-transform: uppercase;
	border-radius: 2px;
	font-size: 17px;
	outline: 0;
}
body amp-user-notification#my-notification.cookie {
	bottom: initial;
	top: 0;
	min-height: 66px;
	border-bottom: 1px solid rgb(204, 204, 204);
}
/* COOKIE CONSENT - end */

/* RESPONSIVE YouTube iframe - start */
.post-content iframe[src*="youtube.com"] {
	display: block;
	max-width: 100%;
}
/* RESPONSIVE YouTube iframe - end */

/* -------------------------------------------------------------------- ADS - start */
/* GENERAL ADS STYLES - start */
/* title widget */
#main .container .rc-wc .row-item h3, /* revcontent */
#main .container .cc_main_title, /* contentclick */
#main .container .ac_header_title { /* contentad */
	color: #333;
	font-size: 16px !important;
	font-weight: bold;
	font-style: normal;
	line-height: normal;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: left;
	width: 100%;
	height: auto;
	display: block;
	margin: 0;
	padding: 0;
}
#main .adsense_header_title {
	color: #444;
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	line-height: normal;
	font-family: Times, "Times New Roman", Georgia, sans;
	text-align: left;
	width: 100%;
	height: auto;
	display: block;
	margin: 0;
	padding: 0;
}
/* title ad */
#main .container .ac_container  { /* contentad */
	padding: 0;
}
#main .container .ac_title_wrapper { /* contentad */
	padding: 0;
	width: 100%;
}
#main .container .rc-item .rc-headline, /* revcontent */
#main .container .cc_ad_box .cc_ad .cc_title_link, /* contentclick */
#main .container .ac_title_wrapper .ac_title { /* contentad */
	/* color: #F0594A; */
	color: #333 !important;
	font-size: 14px !important;
	line-height: 1.5 !important;
	font-weight: normal !important;
	font-style: normal !important;
	line-height: normal !important;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	text-align: left !important;
	width: 100%;
	height: auto;
	max-height: none !important;
	display: block;
	margin: 0;
	padding: 4px !important;
	text-transform: none !important;
	white-space: normal;
	word-break: break-word;
	word-wrap: normal;
}
#main .container .content_ad_overlay .ac_title_wrapper .ac_title { /* contentad - text overlay the image */
	font-size: 12px !important;
	color: white !important;
	height: 100%;
}
/* GENERAL ADS STYLES - end */

/* REVCONTENT STYLES - start */
#main .rc-text-top.rc-branding {
	top: 0 !important;
}
#main .rc-item .rc-content {
	margin: 0 auto;
	padding: 0;
}
#main .rc-item .rc-cta {
	margin: 0;
	padding: 3px;
}
#main .rc-item .rc-photo {
	margin: 0;
}

/* REVCONTENT STYLES - end */

/* CONTENTAD STYLES - start */
/* content - start */
#content {
	margin-top: 44px;
}
#content-with-aside .contentad .ac_adbox_inner:before,
#content-with-aside .contentad .ac_adbox_inner:after {
	content: "";
	display: table;
}
#content-with-aside .contentad .ac_adbox_inner:after {
	clear: both;
}
#content-with-aside .contentad .ac_container {
	display: block;
	float: left;
	margin: 0;
	padding: 3px;
}
#content-with-aside .contentad .ac_container .ac_image_link,
#content-with-aside .contentad .ac_container .ac_image {
	display: block;
	width: 100%;
	height: auto;
	max-width: 100%;
}
/* content - end */

/* aside - start */
#ads-aside .ac_container .ac_container,
#ads-aside .ac_container .ac_image_link,
#ads-aside .ac_container .ac_image,
#ads-aside .ac_container .ac_title_wrapper {
	display: block;
	width: auto;
	height: auto;
	max-width: 100%;
}
#ads-aside .content_ad_overlay .ac_container {
	display: block;
	float: left;
	width: 50%;
	margin: 0;
	padding: 3px;
}
#ads-aside .content_ad_overlay .ac_container:nth-child(2n+1) {
	clear: both;
}
#ads-aside .content_ad_overlay .ac_container .ac_title_wrapper {
	top: auto;
	right: auto;
	bottom: 0;
	left: 0;
	width: auto;
	max-width: 100%;
	margin: 3px;
}
/* aside - end */

#main .contentad .ac_adbox_inner {
    margin-left: -3px;
    margin-right: -3px;
}
#main .contentad .ac_adbox_inner:before,
#main .contentad .ac_adbox_inner:after {
    content: "";
    display: table;
}
#main .contentad .ac_adbox_inner:after {
    clear: both;
}
#main .contentad .ac_container {
    display: block;
    float: left;
    margin: 0;
    padding: 0 3px 10px;
    width: 100%;
}
#main .contentad .ac_container:nth-child(1n),
#main .contentad .ac_container:nth-child(3n) {
    margin: 0;
}
#main .contentad .ac_image_link {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
#main .contentad .ac_title_wrapper {
    padding: 0;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
/* CONTENTAD STYLES - end */

/* CONTENTCLICK STYLES - start */
#main .cc_ad_box .cc_ad {
	float: left;
	padding: 3px;
	margin: 0;
}
#main .cc_ad_box .cc_ad .cc_image_link,
#main .cc_ad_box .cc_ad .cc_image,
#main .cc_ad_box .cc_ad .cc_title_wrapper {
	width: 100%;
	height: auto;
	display: block;
	padding: 0;
	margin: 0 auto;
}
/* CONTENTCLICK STYLES - end */

/* IMOTOMY - start */
img.imonomy_trk_img {
	display: none;
}
/* IMOTOMY - end */

/* NEXT ARROW - start */
#arrows_wrapper {
    position: relative;
	padding-right: 30px;
	padding-left: 30px;
	display: inline-block;
	width: 100%;
	overflow: visible;
}
#prev_arrow_wrapper,
#next_arrow_wrapper {
    width: 90px;
    height: 90px;
    top: 50%;
    position: absolute;
    right: 0;
    transform: translateY(-50%);
    /*border: 2px solid #fff;*/
    border-radius: 50%;
    background: #ee2a35;
}

#next_arrow_wrapper:after {
    content: "";
    display: block;
    background-image: url('images/arrow-right.png');
    background-repeat: no-repeat;
    background-position: center;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-ms-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
	width: 25px;
	height: 45px;
	top: 50%;
	left: 50%;
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
#prev_arrow,
#next_arrow {
display: block;
height: 100%;
position: relative;
z-index: 1;
}

#prev_arrow_wrapper {
left: 0;
}
#prev_arrow_wrapper:after {
content: "";
display: block;
background-image: url('images/arrow-left.png');
background-repeat: no-repeat;
background-position: center;
-webkit-background-size: 100%;
-moz-background-size: 100%;
-ms-background-size: 100%;
-o-background-size: 100%;
background-size: 100%;

width: 25px;
height: 45px;
top: 50%;
left: 50%;
position: absolute;
transform: translate(-50%, -50%);
z-index: -1;
}

/* NEXT ARROW - end */
/* NEXT ARROW Version 1 - start */
#next_arrow_v1 {
	display: block;
	background: #F0594A;
	border-radius: 17px;
	top: 60%;
	position: absolute;
	color: white;
	font-size: 24px;
	left: 50%;
	transform: translate(-50%, -60%);
	text-align: center;
	padding: 20px;
	font-weight: bold;
}

#next_arrow_v1::before {
	display: none;
}

#next_arrow_v1:hover {
	text-decoration: none;
}
/* NEXT ARROW Version 1 - end */

/* CONTENTAD AdBlocker - start */
.blocked #main .contentad,
.blocked #main .contentad .ac_adbox,
.blocked #main .contentad .ac_adbox_inner,
.blocked #main .contentad .ac_image_link,
.blocked #main .contentad .ac_image,
.blocked #main .contentad .ac_title_wrapper,
.blocked #main .contentad .ac_title,
.blocked #main .contentad div[id*="ac_"] { display: block !important; }
/* CONTENTAD AdBlocker - end */

#main .content_ad_popunder {
    margin: 30px 4px;
}
#main .content_ad_popunder .ac_container {
    width: 100%;
    margin: 0 !important;
    padding: 6px !important;
}
#main .content_ad_popunder .ac_title_wrapper .ac_title {
    font-size: 16px;
    padding: 3px;
    font-weight: bold;
}
/* -------------------------------------------------------------------- ADS - end */

/* Contact form 7 - start */
.wpcf7-form .wpcf7-validation-errors {
	color: #F0594A;
    font-size: 16px;
    padding-bottom: 25px;
    padding-top: 15px;
}
.wpcf7-form .wpcf7-not-valid-tip {
	color: #F0594A;
}
.wpcf7 .screen-reader-response{
	border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
/* Contact form 7 - end */

/* Amp - start */
amp-social-share.rounded {
	border-radius: 4px;
}
/* Amp - end */

@media all and (min-width: 1400px) {
	.single-post .container.left-sidebar{
		width: 1400px;
	}
	.left-sidebar #content-with-aside{
		width: 895px;
	}
}
@media all and (min-width: 1110px) and (max-width: 1399px) {
	.left-sidebar #content-with-aside{
		width: 590px;
	}
}
@media all and (min-width: 1050px) {
	#adsense_before_pag_amp_mobile {
		display: none;
	}
}
@media all and (max-width: 1049px) {
	#adsense_before_pag_amp_desktop {
		display: none;
	}
}
@media all and (min-width: 992px) and (max-width: 1399px) {
	#single.left_ad .container.left-sidebar {
		width: 100%;
	}
	.left_ad .row.left-sidebar {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: stretch;
		-ms-flex-align: stretch;
		align-items: stretch;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.left_ad #left_sidebar {
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
		padding-left: 3px;
	}
	.left_ad #content-with-aside {
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
		-webkit-box-flex: 1;
        -ms-flex-positive: 1;
		flex-grow: 1;
		padding-left: 5px;
		padding-right: 5px;
	}
	.left_ad #content-with-aside #ads-before-pagination {
		padding-top: 15px;
	}
	.left_ad #content-with-aside .loop-single {
		width: 100%;
	}
	.left_ad #aside {
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
		-webkit-box-flex: 1;
        -ms-flex-positive: 1;
		flex-grow: 1;
		padding-left: 0px;
		padding-right: 3px;
		max-width: 305px;
	}
	.left_ad #aside #taboola-right-rail-thumbnails {
		padding-right: 3px;
	}
}
@media all and (min-width: 1200px) {
	#home .owl-carousel-container,
	#all-articles .article-top.big-post,
	#all-articles .article-bottom.big-post,
	#all-articles .infinite-posts.article-carousel {
		max-width: 1500px;
		margin-left: auto;
		margin-right: auto;
	}	
	#all-articles .article-top.big-post {
		max-width: 1500px;
	}
}
/* HEADER - start */
#header-logo-inner {
	float: left;
	max-width: 342px;
	padding: 24px 10px 23px;
}
#header-ad-inner {
	text-align: center;
}
/* HEADER - end */
@media all and (min-width: 1110px) {
	/* BASIC GRID - start */
	#content-with-aside { width: 780px; }
	/* BASIC GRID - end */
	
	
}
@media all and (min-width: 1020px) and (max-width: 1109px){
	html body {
		min-height: calc(100vh - 180px);
		height: 100%;
	}
}
@media all and (min-width: 992px) {
    /* -------------------------------------------------------------------- ADS - start */
    /* CONTENTAD - start */
    #main .content_ad_popunder .ac_container {
        width: 20%;
    }
    #main .content_ad_popunder .ac_container:nth-child(5n+1) {
        clear: both;
    }
	.left-sidebar #left_sidebar{
		width: 165px;
		float: left;
		text-align: center;
		padding-top: 26px;
	}
    .left-sidebar #left_sidebar.fixed{
		position: fixed;
		bottom: 155px;
	}
    .left-sidebar #content-with-aside.fixed{
		margin-left: 165px;
	}
	
    /* CONTENTAD - end */
    /* -------------------------------------------------------------------- ADS - end */
}
@media all and (min-width: 992px) and (max-width: 1109px) {
	/* BASIC GRID - start */
	#content-with-aside { width: 640px; }
	
	.left-sidebar #content-with-aside{
		width: 470px;
	}
	#single.extra_width .container {
		width: 976px;
	}
	.extra_width #content-with-aside {
		padding-left: 5px;
		padding-right: 5px;
	}
	#single.extra_width #aside {
		padding-left: 0;
	}
	/* BASIC GRID - end */
	
	/* HEADER - start */
	#nav ul li {
		padding: 0 20px 0 12px;
	}
	/* HEADER - end */
	
	/* HOMEPAGE - start */
	/* featured posts - start */
	#home .fp-big {
		width: 647px;
		height: 430px;
	}
	#home .fp-small {
		width: 293px;
		height: 215px;
	}
	/* featured posts - end */
	/* HOMEPAGE - end */
}
@media all and (max-width: 991px) {
	.left-sidebar #left_sidebar{
		display: none;
	}
	#all-articles .article-image,
	#all-articles .article-top {
		min-width: inherit;
	}
}
#header-logo .container {
	width: 99%;
	margin: 0 10px;
}
/* HEADER - start */
	#nav ul li {
		padding: 0 12px 0 5px;
	}

	#header ul li {
		padding-right: 10px;
	}
/* HEADER - end */
@media all and (max-width: 884px) {
	.cookie-container {
		min-height: 75px;
	}
}
@media all and (min-width: 768px) and (max-width: 991px) {
	body {
		margin-bottom: 165px !important;
	}
	#main .container {
		width: 99%;
		margin: 0 10px;
	}
	
	#content-with-aside {
		width: 100%;
		float: none;
		padding-left: 15px;
		padding-right: 15px;
		margin-left: auto;
		margin-right: auto;
	}
	#aside {
		display: none;
	}
	#home .fp-big {
		width: 480px;
		height: 320px;
	}
	#home .fp-small {
		width: 240px;
		height: 160px;
	}
    #main .content_ad_popunder .ac_container {
        width: 25%;
    }
    #main .content_ad_popunder .ac_container:nth-child(4n+1) {
        clear: both;
    }
	#home .post-image-container {
		min-height: 340px;
	}
}
@media all and (min-width: 850px) and (max-width: 991px) {
	.extra_width.extra_tablet .container.left-sidebar {
		width: 100% !important;
		margin: 0 !important;
	}
	.extra_width.extra_tablet .row.left-sidebar {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: stretch;
		-ms-flex-align: stretch;
		align-items: stretch;
	}
	.extra_width.extra_tablet #left_sidebar {
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
		padding-left: 3px;
		width: 165px;
		float: left;
		text-align: center;
		padding-top: 26px;
	}
	.extra_width.extra_tablet #content-with-aside {
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		padding-left: 5px;
		padding-right: 5px;
		min-width: 42%;
		float: left;
		margin: 0;
	}
	.extra_width.extra_tablet #content-with-aside .loop-single {
		width: 100%;
	}
	.extra_width.extra_tablet #aside {
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		padding-left: 0px;
		padding-right: 3px;
		max-width: 305px;
	}
}
@media all and (min-width: 768px) {
    /* -------------------------------------------------------------------- ADS - start */
    /* CONTENTAD - start */
    #ads-top-single-page .contentad_top .ac_container {
        width: 20%;
        display: none;
    }
    #ads-top-single-page .contentad_top .ac_container:nth-child(1),
    #ads-top-single-page .contentad_top .ac_container:nth-child(2),
    #ads-top-single-page .contentad_top .ac_container:nth-child(3),
    #ads-top-single-page .contentad_top .ac_container:nth-child(4),
    #ads-top-single-page .contentad_top .ac_container:nth-child(5) {
        display: block;
        clear: none;
    }
    #content-with-aside .contentad_bottom .ac_container {
        width: 33.333%;
    }
    #content-with-aside .contentad_bottom .ac_container:nth-child(3n+1) {
        clear: both;
    }
    .blocked #ads-aside .contentad_aside .ac_container {
        width: 50%;
    }
    .blocked #ads-aside .contentad_aside .ac_container:nth-child(2n+1) {
        clear: both;
    }
    .blocked #ads-aside .contentad_aside .ac_title_wrapper .ac_title {
        font-size: 14px;
    }
    /* CONTENTAD - end */
    /* -------------------------------------------------------------------- ADS - end */

}
#header {
		margin-bottom: 0;
	}
	#header .mobile-overlay {
		display: block;
		position: absolute;
		top: 42px;
		height: 100vh;
		background-color: rgba(50, 51, 51, 0.4);
		width: 100%;
		z-index: 3;
	}

	#header .navbar-brand {
		margin-left: 10px;
	}

	#header .navbar-collapse {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		z-index: 2;
		width: 0;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		display: block;
		padding: 0;
		text-align: left;
		background-color: #fff;
		-webkit-transition: width 0.2s ease-in-out;
		-moz-transition: width 0.2s ease-in-out;
		-ms-transition: width 0.2s ease-in-out;
		-o-transition: width 0.2s ease-in-out;
		transition: width 0.2s ease-in-out;
	}
	#header .navbar-collapse[aria-expanded=true],
	#sidebarmenu {
		width: 245px;
		top: 42px;
		height: calc(100vh - 65px);
		z-index: 4;
		padding: 0 32px;
		right: 15px;
	}
	#sidebarmenu,
	#header.navbar-default, #header.navbar	{
		background-color: #fff;
		z-index: 5555555555;
	}
	#sidebarmenu ul li {
		padding: 0;
		float: none;
		border-bottom: 1px solid #e3e5e6;
	}

	#sidebarmenu ul li a{
		text-align: center;
		font-size: 16px;
		padding: 26px 0;
	}

	#menu-main-menu a:hover {
		border: 0;
	}

	#menu-main-menu {
		float: none;
		margin: 0;
	}

	#header-search {
		width: 100%;
		margin-top: 26px;
		border: 0.5px solid #b9b9b9;
		background-color: transparent;
		border-radius: 5px;
	}

	#header-search #searchsubmit {
		float: right;
	}

	#header-search.search-transition {
		width: 100%;
	}

	#header-search #searchsubmit .glyphicon-search {
		font-size: 18px;
		color: #7a7a7a;
	}

	#header-search #s-wrapper {
		width: 77%;
		display: block !important;
		height: 24px;
		transform: translate(0);
		opacity: 1;
	}

	#header-search #s {
		padding-left: 15px;
		font-size: 16px;
		font-weight: bold;
		padding-top: 0;
		padding-bottom: 0;
		color: #7a7a7a;
		width: 100%;
	}
	#header-search #s::-webkit-input-placeholder { color: #7a7a7a; opacity: 1; font-size: 16px; font-weight: bold; }
	#header-search #s::-moz-placeholder { color: #7a7a7a; opacity: 1; font-size: 16px; font-weight: bold; }
	#header-search #s:-ms-input-placeholder { color: #7a7a7a; opacity: 1; font-size: 16px; font-weight: bold; }
	#header-search #s:-moz-placeholder { color: #7a7a7a; opacity: 1; font-size: 16px; font-weight: bold; }
	
	/* HEADER - start */
	#header-logo-inner {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		max-width: 358px;
	}
    #header-ad-inner {
        margin: 20px -15px 0;
    }
	/* HEADER - end */
@media all and (max-width: 767px) {
	
	/* AM - 25.05.2017 - show sidebar for tablets  START */
	#content-with-aside {
		width: 100%;
		float: none;
		padding-left: 15px;
		padding-right: 15px;
		margin-left: auto;
		margin-right: auto;
	}
	#aside {
		width: 100%;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	/* AM - 25.05.2017 - show sidebar for tablets  END */
	
	/* GENERAL STYLES - start */
	/* BASIC GRID - start */
	/* BASIC GRID - end */
	/* GENERAL STYLES - end */
	
	
	
	/* HOMEPAGE - start */
	/* featured posts - start */
	#home .fp-big {
		width: 100%;
		height: auto;
		max-height: 480px;
	}
	#home .fp-small {
		width: 50%;
		height: auto;
		max-height: 240px;
		border: 0;
		border-right: 1px solid transparent;
	}
	#home .fp-small > a {
		display: block;
		position: relative;
		padding-bottom: 56.25%;
		height: 0;
	}
	#home .fp-small:last-child {
		border-left: 1px solid transparent;
		border-right: 0;
	}
	/* featured posts - end */
	/* HOMEPAGE - end */
	
	/* SINGLE - start */
	/* facebook like popup - start */
	#pp_modal {
		overflow: scroll;
		overflow-x: hidden;
		overflow: -moz-scrollbars-none;
		-ms-overflow-style: none;
	}
	/* facebook like popup - end */
    
    /* NEXT ARROW - start */
	#next_arrow_wrapper {
		padding-right: 0;
	}
	#next_arrow {
		width: 60px;
		height: 60px;
		margin-top: -30px;
	}
	#next_arrow:before {
		width: 20px;
		height: 32.5px;
		margin-top: -16.25px;
		margin-left: -8px;
	}
	/* NEXT ARROW - end */
	/* NEXT ARROW VARIATIONS - START */
	#next_arrow_v1 {
		font-size: 16px;
	}
	/* NEXT ARROW VARIATIONS - END */
	
	/* SINGLE - end */
    
    /* -------------------------------------------------------------------- ADS - start */
    /* CONTENTAD - start */
    #main .content_ad_popunder .ac_container {
        width: 50%;
    }
    #main .content_ad_popunder .ac_container:nth-child(2n+1) {
        clear: both;
    }
    /* CONTENTAD - end */
    /* -------------------------------------------------------------------- ADS - end */
	#home .text-post {
		width: 100%;
		right: 0;
		top: 0;
	}
	#home .link-category {
		float: left;
		min-width: 161px;
		min-height: 46px;
	}
	#home .link-category a {
		font-size: 20px;
	}
	#home .link-title {
		float: right;
		margin-top: 7px;
		margin-right: 6px;
	}
	#home .article-more {
		margin-right: 6px;
	}
	#home .owl-carousel .owl-dots {
		bottom: 4px;
	}
	#all-articles .article-bottom.big-post {
		flex-direction: column;
	}
	#all-articles .article-cat {
		top: 0;
		left: 0;
	}
	#all-articles .article-more {
		display: flex;
		display: -ms-flexbox;
		display: -webkit-flex;
	}
	#all-articles .article-top.big-post,
	#all-articles .article-image.big-post {
		height: 260px;
	}
	#all-articles .article-bottom.big-post p {
		margin-left: 0;
	}

	#all-articles .article-bottom.big-post .container {
		display: block;
	}

    #prev_arrow_wrapper,
    #next_arrow_wrapper {
        width: 40px;
        height: 40px;
    }

    #prev_arrow_wrapper:after,
    #next_arrow_wrapper:after {
        width: 10px;
    }
	
	/* Page Contact - start */
	#contact-us-page {
		padding-top: 0;
	}
	
	#contact-us-page .information-content {
		height: inherit;
		text-align: center;
		margin-right: 0;
	}
	
	#contact-us-page .col-md-6:nth-child(2n) {
		border: 0;
	}
	
	#contact-us-page .form-container {
		margin: 0;
		padding-top: 20px;
	}
	
	#contact-us-page .page-title {
		text-align: center;
		margin-top: 20px;
	}
	/* Page Contact - end */
}
@media all and (min-width: 750px) and (max-width: 849px) {
	.extra_width.extra_tablet .container {
		width: 100% !important;
		padding: 0;
		margin: 0 !important;
	}
	.extra_width.extra_tablet .row {
		width: 100%;
		margin: 0;
	}
	.extra_width.extra_tablet #content-with-aside {
		width: 60%;
		margin: 0;
		padding-left: 3px;
		padding-right: 5px;
		float: left;
	}
	.extra_width.extra_tablet #aside {
		float: left;
		padding-right: 3px;
		width: 40%;
		padding-left: 0;
		display: block;
	}
	.extra_width.extra_tablet #aside #ads-aside {
		display: block !important;
	}
}
@media all and (min-width: 750px) {
	#top-ad-below-article-title {
		display: none;
	}
}
@media all and (min-width: 481px) {
	/* -------------------------------------------------------------------- ADS - start */
	/* CONTENTCLICK STYLES - start */
	#main .cc_ad_box .cc_ad {
		width: 33.333%;
	}
	#main .cc_ad_box .cc_ad:nth-child(3n+1) {
		clear: both;
	}
	/* CONTENTCLICK STYLES - end */
	
	/* CONTENTAD STYLES - start */
	#content-with-aside .contentad .ac_container {
		width: 33.333%;
	}
	#content-with-aside .contentad .ac_container:nth-child(3n+1) {
		clear: both;
	}
	/* CONTENTAD STYLES - end */
	/* -------------------------------------------------------------------- ADS - end */
}
@media all and (max-width: 562px) {
	#home .link-title {
		min-width: 176px;
		min-height: 35px;
		padding: 5px;
	}
	#home .link-title p {
		font-size: 14px;
	}
	#home .link-category {
		min-width: 90px;
		min-height: 24px;
	}
	#home .link-category a {
		font-size: 14px;
	}
}
@media all and (max-width: 528px) {
	.cookie-container {
		min-height: 95px;
	}
	.cookie-container .cookie-text {
		padding-left: 15px;
		padding-right: 15px;
	}
	.cookie-container .cc_btn {
		width: 100%;
	}
}
@media all and (max-width: 496px) {
	#footer .footer-content {
		display: block;
	}

	#footer-logo-wrapper {
		float: none;
		text-align: center;
		width: 100%;
		margin-bottom: 24px;
	}

	#footer-menu {
		float: none;
		margin: 0 auto;
	}

	#menu-footer {
		text-align: center;
	}
}

@media all and (max-width: 480px) {
	/* HOMEPAGE - start */
	/* featured posts - start */
	#home .fp-big, #home .fp-small {
		width: 100%;
		height: auto;
		max-height: 240px;
		border: 0;
		border-bottom: 1px solid transparent;
	}
	#home .fp-small:last-child {
		border-left: 0;
	}
	#home .fp-small > a {
		display: inline;
		position: static;
		padding-bottom: 0;
		height: auto;
	}
	#home .fp-big .fp-text h2,
	#home .fp-small .fp-text h2 {
		font-size: 14px;
	}
	/* featured posts - end */
	/* all articles - start */
	.infinite-posts h4 {
		display: none;
	}
	#all-articles .hp-article {
		/*width: 100%;*/
		/*max-width: inherit;*/
		/*float: none;*/
		/*margin-left: auto;*/
		/*margin-right: auto;*/
	}
	#all-articles .article-bottom {
		padding-bottom: 15px;
		margin-bottom: 15px;
	}
	#all-articles .article-bottom.big-post p {
		font-size: 14px;
	}
	#all-articles .owl-carousel.carousel-miss-articles {
		margin-bottom: 15px;
	}
	/* all articles - end */
	/* HOMEPAGE - end */
	
	/* SINGLE - start */
	.post-title {
		font-size: 24px;
	}
	/* post pagination - start */
	#csp_btns li {
		font-size: 11px;
	}
	/* post pagination - end */
	/* social btns - start */
	#social-buttons a {
		text-align: center;
	}
	#social-buttons a:before {
		margin: 0 auto;
	}
	#social-buttons a span {
		display: none;
	}
	/* social btns - end */
	/* facebook like popup - start */
	#pp_modal {
		height: auto;
	}
	/* facebook like popup - end */
	/* SINGLE - end */
	
	/* -------------------------------------------------------------------- ADS - start */
    #ads-before-pagination .adsense {
        margin: 0 -5px;
    }
    #ads-after-pagination .deployads {
        margin: 0 -5px 10px;
    }
	/* CONTENTCLICK STYLES - start */
	#main .cc_ad_box .cc_ad {
		width: 50%;
	}
	#main .cc_ad_box .cc_ad:nth-child(2n+1) {
		clear: both;
	}
	/* CONTENTCLICK STYLES - end */
	
	/* CONTENTAD STYLES - start */
	#content-with-aside .contentad .ac_container {
		width: 50%;
	}
	#content-with-aside .contentad .ac_container:nth-child(2n+1) {
		clear: both;
	}
	/* CONTENTAD STYLES - end */
	/* -------------------------------------------------------------------- ADS - end */
	
	/* NEXT ARROW VARIATIONS - START */
	#next_arrow_v1 {
		font-size: 12px;
		padding: 9px;
	}
	/* NEXT ARROW VARIATIONS - END */

	#all-articles .article-top,
	#all-articles .article-image {
		min-height: 155px;
	}

	#all-articles .article-title {
		font-size: 24px;
	}

	#all-articles .article-bottom p {
		font-size: 14px;
	}

	#home .article-more a {
		font-size: 12px;
	}

	#home .post-image-container {
		min-height: 210px;
		background-size: 120%;
	}

    #csp_btns ul li:first-child a,
    #csp_btns ul li:last-child a {
        padding: 5px 30px;
        margin: 10px;
    }

    #category {
        padding: 0 10px;
    }
	#footer {
		position: initial;
	}
	#div_top_banner_desktop {
		display: none;
	}
}
@media all and (max-width: 442px) {
	.cookie-container {
		min-height: 115px;
	}
}
@media all and (max-width: 347px) {
	.cookie-container {
		min-height: 135px;
	}
}