#quiz-settings .answer-repeater,
#quiz-settings .question-repeater {
    border: 1px solid #ccc;
    padding: 5px;
    padding-left: 25px;
    position: relative;
    border-bottom: 0;
}
#quiz-settings .question-container .answer-repeater:last-of-type,
#quiz-settings .question-container .question-repeater:last-of-type {
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
}
#quiz-settings .question-container .answer-repeater:before,
#quiz-settings .question-container .question-repeater:before{
    content: attr(data-key);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
    background-color: #fff;
    text-align: center;
    margin: auto;
}
#quiz-settings .question-container .answer-repeater:after,
#quiz-settings .question-container .question-repeater:after{
    content: "";
    display: block;
    width: 0;
    height: 100%;
    border-right: 1px solid #ccc;
    position: absolute;
    left: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
}
#quiz-settings .question-container .question-repeater:first-of-type .delete_question {
    display: none;
}