.quiz-container .answer-explanation {
    display: none;
}
.quiz-container .question-image-container {
    margin-bottom: 20px;
}
.quiz-container .answers-container .answer {
    width: calc(50% - 10px);
    margin-bottom: 20px;
    outline: none;
    margin-right: 20px;
}
.quiz-container .answers-container .answer:nth-child(even){
    margin-right: 0;
}
html.html>body.single-quiz,
html.i-amphtml-singledoc>body.single-quiz {
    height: 100vh !important;
    overflow: hidden !important;
}
.single-quiz .site-container {
    overflow-y: auto;
    height: 100%;
    overflow-x: hidden;
}
.single-quiz .center-button {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.quiz-container .answered .answers-container {
    pointer-events: none;
}
.quiz-container .answers-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.quiz-container .answers-container button {
    font-size: 24px;
    color: #1d1d1d;
    font-family: "Roboto",sans-serif;
    font-weight: bold;
    text-align: center;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #bdbdbd;
    padding: 12px 16px;
    line-height: 1;
}
.quiz-container .answered .answers-container .correct {
    background-color: #49b4de;
    color: #fff;
    border: 1px solid #49b4de;
}
.quiz-container .answered .answers-container .wrong.selected {
    background-color: #ee2a35;
    color: #fff;
    border: 1px solid #ee2a35;
}
.quiz-container .question-image-container {
    position: relative;
    height: 400px;
}
.quiz-container .question-image-container img {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    width: 100%;
    height: 400px;
}
.quiz-container .question-image-container:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    /*background-color: rgba(0,0,0,0.5);*/
}
.overlay:before {
    background-color: rgba(0,0,0,0.75);
}
.quiz-container .question-image-container .explanation-container {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: #fff;
    padding: 0 15px;
}
.quiz-container .question-image-container .explanation-container p {
	color: #fff !important;
    font-size: 18px !important;
    font-family: "Roboto",sans-serif;
}
.quiz-container .question-image-container .explanation-container h3 {
    font-size: 24px !important;
    font-family: "Roboto",sans-serif;
    font-weight: bold;
}
.quiz-container .question-image-container .explanation-container h3.correct {
    color: #49b4de;
	display: none;
}
.quiz-container .question-image-container .explanation-container h3.wrong {
    color: #ee2a35;
	display: none;
}
.quiz-container .question-container {
    margin-bottom: 20px;
}
.quiz-container .question-container h2 {
    font-size: 24px;
    color: #1d1d1d;
    font-family: "Roboto",sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}
.quiz-container .question-container.wrong .explanation-container h3.wrong,
.quiz-container .question-container.correct .explanation-container h3.correct,
.quiz-container .question-container.answered .explanation-container{
	display: block;
}
.quiz-container .results-container {
    text-align: center;
    padding-top: 100px;
	margin-bottom: 40px;
}
.quiz-container .results-container p {
	font-size: 24px !important;
	color: #1d1d1d !important;
	font-weight: bold;
	line-height: 24px !important;
}
.quiz-container .results-container .score {
    color: #ee2a35 !important;
}
.quiz-container .results-container p:last-of-type {
    margin-bottom: 99px;
}
/* Scroll - start */
.quiz-container.scroll .question-container {
    opacity: 0.25;
    pointer-events: none;
}
.quiz-container.scroll .question-container.visible,
.quiz-container.scroll .question-container.answered {
    opacity: 1;
    pointer-events: all;
}
.quiz-container.scroll .results-container {
    display: none;
}
/* Scroll - end */
.quiz-container  .buttons-container a,
.quiz-container .quiz-nav-button {
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    line-height: 1;
    padding: 18px 30px;
    border: 0;
}
.quiz-container  .buttons-container .quiz-nav-button {
    margin-right: 18px;
}
.quiz-container  .buttons-container a:hover,
.quiz-container .quiz-nav-button:hover {
    text-decoration: none;
    outline: none;
}
.quiz-container  .buttons-container a,
.quiz-container .quiz-nav-button.next-quiz,
.quiz-container .quiz-nav-button.start-quiz {
    background-color: #ee2a35;
    outline: none;
}
.quiz-container .quiz-nav-button.end-quiz,
.quiz-container .quiz-nav-button.start-over {
    background-color: #1d1d1d;
    outline: none;
}
.quiz-container  .start-quiz,
.quiz-container  .end-quiz {
    margin-top:  30px;
    margin-bottom: 30px;
}
.quiz-container .quiz-nav-button.end-quiz[disabled="disabled"],
.quiz-container  .end-quiz:disabled {
    background-color: #B6B6B6;
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}
.quiz-ad {
    line-height: 14px;
}

.quiz-ad img {
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 479px){
    .quiz-container .answers-container .answer {
        min-width: 100%;
    }
}